# This list auto requests reviews from the specified maintainer when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes to the same file or dir, add them to the end under Multiple Owners
# This is ONLY for taking ownership of server-critical code which must be written in a very specific way for the server to operate at all.
# You cannot take ownership of a file/feature just because "I dont want people touching my stuff"

### AffectedArc07
# Actual Code
/code/controllers/subsystem/SSinstancing.dm @AffectedArc07
/code/controllers/subsystem/SSredis.dm @AffectedArc07
/code/modules/redis/ @AffectedArc07

# CI + Tooling
_build_dependencies.sh @AffectedArc07

# Database Stuff
/SQL/ @AffectedArc07

# Executables that need to be security-cleared
dreamchecker.exe @AffectedArc07
rustlibs.dll @AffectedArc07
rustlibs_prod.dll @AffectedArc07
rust_g.dll @AffectedArc07

# temp executables because life is pain
rustlibs_515.dll @AffectedArc07
rustlibs_516.dll @AffectedArc07
rustlibs_515_prod.dll @AffectedArc07
rustlibs_516_prod.dll @AffectedArc07


### Burzah
# TGUI stuff
/tgui/bin @Burzah
/tgui/docs @Burzah


### Multiple Owners
# Config Stuff
/config/ @AffectedArc07 @Burzah @Contrabang @warriorstar-orion
