#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk

#ignore any files in config/, except those in subdirectories.
/config/*
!config/**/*/

# ignore cfg, an internal BYOND folder
/cfg/*

#ignore other, specific files and folers
*.before
data/
/_maps/map_files/backup/*
/_maps/map_files/**/backup/*
/_maps/map_files/**/*.dmm.backup
/_maps/quicksave/*
**/__pycache__/*
*.db
stddef.dm
.atom-build.json
*.vscode/*
!/.vscode/extensions.json

# ignore DMI tool build cache
/tools/dmitool/bin/
/tools/dmitool/.gradle/
/tools/dmitool/.settings/
/tools/dmitool/.classpath
/tools/dmitool/.project

# ignore midi2piano build cache
/tools/midi2piano/midi2piano/obj/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore python cache
.cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# pyenv
.python-version

# Tools some of us like to keep in the repo
dmm-tools.exe
OpenDream
paradise.json
