#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.mdme
*.mdme.*
*.m.dme
*.test.dme
*.dmb
*.lk
*.backup
*.dmm.before
*.cache
*.pyc
data/
!data/logs/.keep
cfg/
tmp/
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt

#Visual studio stuff
*.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json

#ignore any files in config/, except those in subdirectories.
/config/*
!config/**/*/

# ignore cfg, an internal BYOND folder
/cfg/*

#ignore other, specific files and folers
*.before
/_maps/map_files/backup/*
/_maps/map_files/**/backup/*
/_maps/map_files/**/*.dmm.backup
/_maps/quicksave/*
**/__pycache__/*
*.db
stddef.dm
.atom-build.json
.idea/

/tools/bootstrap/.cache/

# ignore DMI tool build cache
/tools/dmitool/bin/
/tools/dmitool/.gradle/
/tools/dmitool/.settings/
/tools/dmitool/.classpath
/tools/dmitool/.project

# ignore midi2piano build cache
/tools/midi2piano/midi2piano/obj/*

*/node_modules/*

# Ignore compiled linux libs in the root folder, e.g. librust_g.so
/*.so

#Ignore cached sound files.
/sound/tts_cache/**/*
/sound/tts_scrambled/**/*
