#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk

#ignore any files in config/, except those in subdirectories.
/config/*
!config/**/*/

#ignore other, specific files and folers
*.before
data/
/_maps/map_files/backup/*
/_maps/map_files/**/backup/*
/_maps/map_files/**/*.dmm.backup
/_maps/quicksave/*
/nano/debug.html
**/__pycache__/*
*.db
stddef.dm
.atom-build.json
*.vscode/*
!/.vscode/extensions.json

# ignore DMI tool build cache
/tools/dmitool/bin/
/tools/dmitool/.gradle/
/tools/dmitool/.settings/
/tools/dmitool/.classpath
/tools/dmitool/.project

# ignore midi2piano build cache
/tools/midi2piano/midi2piano/obj/*


