#pretending we're C because otherwise ruby will initialize, even with "language: dm".
language: generic
dist: xenial
sudo: false

git:
  depth: 1

matrix:
  include:
    - name: "Run Linters"
      addons:
        apt:
          packages:
            - python3
            - python3-pip
            - python3-setuptools
      install:
        - tools/travis/install_build_deps.sh
        - tools/travis/install_dreamchecker.sh
      script:
        - shopt -s globstar
        - find . -name "*.php" -print0 | xargs -0 -n1 php -l
        - find . -name "*.json" -not -path "./nano/node_modules/*" -print0 | xargs -0 python3 ./tools/json_verifier.py
        - tools/travis/build_nanoUI.sh
        - tools/travis/check_grep.sh
        - tools/travis/check_changelogs.sh
        - python3 tools/travis/check_line_endings.py
        - ~/dreamchecker

    - name: "Compile All Maps"
      addons:
        apt:
          packages:
            - libstdc++6:i386
      cache:
        directories:
          - $HOME/BYOND
      install:
        - tools/travis/install_byond.sh
        - source $HOME/BYOND/byond/bin/byondsetup
      script:
        - tools/travis/dm.sh -M travis_map_testing paradise.dme
