.boxed_message {
  background: #1c242e;
  border: 1px solid #a3b9d9;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  text-align: center;
}

.boxed_message.left_align_text {
  text-align: left;
}

.boxed_message.red_border {
  background: #2e1c1c;
  border-color: #aa0000;
}

.boxed_message.green_border {
  background: #1c2e22;
  border-color: #00ff00;
}

.boxed_message.purple_border {
  background: #221c2e;
  border-color: #8000ff;
}

.boxed_message.notice_border {
  background: #1f2633;
  border-color: #6685f5;
}

.boxed_message.thick_border {
  border-width: thick;
}
