.adminooc {
  color: #29ccbe;
}

.debug {
  color: #8f39e6;
}

.boxed_message {
  background: hsla(0, 0%, 0%, 0.25);
  border-color: hsla(20, 50%, 75%, 0.25);
}

.boxed_message.red_border {
  background: hsla(0, 75%, 5%, 0.25);
  border-color: hsla(0, 100%, 50%, 0.5);
}

.boxed_message.green_border {
  background: hsla(140, 75%, 5%, 0.25);
  border-color: hsla(120, 100%, 50%, 0.5);
}

.boxed_message.purple_border {
  background: hsla(260, 75%, 5%, 0.25);
  border-color: hsla(260, 100%, 65%, 0.5);
}

.boxed_message.notice_border {
  background: hsla(220, 75%, 5%, 0.25);
  border-color: hsla(225, 90%, 65%, 0.5);
}
