.center {
  display: flex;
}

// Remove conditionals with 516
@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  .center {
    flex-grow: 1;
  }
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .center {
    height: 100%;
    width: 100%;
    flex: 1 1 0;
  }
}

.input {
  display: flex;
  font-family: 'Consolas', monospace;
}

// Remove conditionals with 516
@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  .input {
    flex-grow: 1;
    gap: 0.2rem;
  }
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .input {
    height: 100%;
    width: 100%;
    flex: 1 1 0;
  }
}
