@use 'sass:color';
@use './colors.scss';

@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  * {
    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      background: color.scale(
        colors.$button,
        $lightness: -25% * colors.$scrollbar-color-multiplier
      );
    }

    &::-webkit-scrollbar-thumb {
      background: color.scale(
        colors.$button,
        $lightness: 10% * colors.$scrollbar-color-multiplier
      );
    }
  }
}

.textarea {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
}

// Remove conditionals with 516
@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
  .textarea {
    flex-grow: 8;
    outline: none;
    resize: none;
  }
}

// Remove with 516
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .textarea {
    align-items: center;
    display: flex;
    flex-grow: 4;
    overflow: hidden;
    margin: 0.1rem 0 0 0.4rem;
  }
}
