.white {
    color: white;
    font-weight: bold;
}

.good {
    color: #4f7529;
    font-weight: bold;
}

.average {
    color: #cd6500;
    font-weight: bold;
}

.bad {
    color: #ee0000;
    font-weight: bold;
}

.idle {
    color: #272727;
    font-weight: bold;
}

.redButton {
    background: #ea0000;
}

.yellowButton {
    background: #cacc00;
}

.highlight {
    color: #8BA5C4;
}

.dark {
    color: #272727;
}

/* Damage colors for crew monitoring computer */
.burn {
    color: orange;
}

.brute {
    color: red;
}

.toxin {
    color: green;
}

.toxin_light {
    color: #3ADF00;
}

.oxyloss {
    color: blue;
}

.oxyloss_light {
    color: #6698FF;
}

/* Wire colors for nuclear bomb defusion */
.Red {
    color: #FF0000;
}

.Blue {
    color: #0000FF;
}

.Green {
    color: #00FF00;
}

.Marigold {
    color: #FDA505;
}

.Fuschia {
    color: #FF0080;
}

.Black {
    color: #000000;
}

.Pearl {
    color: #C6CACB;
}

/* Status bar colors for sleeper temperatures */
.cold1 {
    color: #94B8FF;
}

.cold2 {
    color: #6699FF;
}

.cold3 {
    color: #293D66;
}

.hot1 {
    color: #FF9966;
}

.hot2 {
    color: #993D00;
}

.hot3 {
    color: #FF6600;
}