// Fonts
@font: Verdana, Geneva, sans-serif;
@fontsize: 12px;

// Body Colors
@background-start: #2a2a2a;
@background-end: #202020;

// Element Colors
@good-color: #4f7529;
@average-color: #cd6500;
@bad-color: #ee0000;

@highlight-color: #8BA5C4;
@dark-color: #272727;