.corner() {
    position: fixed;
    z-index: 101;
    min-width: 30px;
    min-height: 30px;
}

#uiCornerTL {
    .corner;
    top: 0;
    left: 0;
    background: data-uri('tl.png') no-repeat;
}

/* Resizing (Stolen from Goon CC-BY-NC-SA) */
@resize: 5px;
.resizeArea {
    position: absolute;
    z-index: 99999;
}
.resizeArea.top {
    top: 0;
    left: 10px;
    right: 10px;
    height: @resize;
    cursor: n-resize;
}
.resizeArea.tr {
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    cursor: ne-resize;
}
.resizeArea.right {
    top: 10px;
    right: 0;
    bottom: 10px;
    width: @resize;
    cursor: e-resize;
}
.resizeArea.br {
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    cursor: se-resize;
}
.resizeArea.bottom {
    bottom: 0;
    left: 10px;
    right: 10px;
    height: @resize;
    cursor: s-resize;
}
.resizeArea.bl {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 10px;
    cursor: sw-resize;
}
.resizeArea.left {
    top: 10px;
    left: 0;
    bottom: 10px;
    width: @resize;
    cursor: w-resize;
}
.resizeArea.tl {
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    cursor: nw-resize;
}
/* End Resizing */