.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton, .linkEncourage, .linkDiscourage {
    float: left;
    min-width: 15px;
    height: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #40628a;
    border: 1px solid #161616;
    padding: 0px 4px 4px 4px;
    margin: 0 2px 2px 0;
    cursor: default;
    white-space: nowrap;
}

.hasIcon {
    padding: 0px 4px 4px 0px;
}

a.hover, .zoomLink.hover, .linkActive.hover {
    background: #507aac;
}

@keyframes pendingAnimation {
    to {
        color: #ffffff;
        background: #507aac;
    }
}

.linkPending, .linkPending.hover {
    animation-name: pendingAnimation;
    animation-duration: 0.25s;
}

a.white, a.white:link, a.white:visited, a.white:active {
    color: #40628a;
    text-decoration: none;
    background: #ffffff;
    border: 1px solid #161616;
    padding: 1px 4px 1px 4px;
    margin: 0 2px 0 0;
    cursor: default;
}

a.white.hover {
    color: #ffffff;
    background: #40628a;
}

.linkOn, a.linkOn:link, a.linkOn:visited, a.linkOn:active, a.linkOn.hover, .selected, a.selected:link, a.selected:visited, a.selected:active, a.selected.hover {
    color: #ffffff;
    background: #2f943c;
}

.linkOff, a.linkOff:link, a.linkOff:visited, a.linkOff:active, a.linkOff.hover, .disabled, a.disabled:link, a.disabled:visited, a.disabled:active, a.disabled.hover {
    color: #ffffff;
    background: #999999;
    border-color: #666666;
}

a.icon, .linkOn.icon, .linkOff.icon, .selected.icon, .disabled.icon {
    position: relative;
    padding: 1px 4px 2px 20px;
}

a.icon img, .linkOn.icon img, .linkOff.icon img, .selected.icon img, .disabled.icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.linkDanger, a.linkDanger:link, a.linkDanger:visited, a.linkDanger:active {
    color: #ffffff;
    background-color: #ff0000;
    border-color: #aa0000;
}

.linkDanger.hover {
    background-color: #ff6666;
}

.linkEncourage, a.linkEncourage:link, a.linkEncourage:visited, a.linkEncourage:active {
    color: #99ff33;
    background-color: #40628a;
    border-color: #161616;
}

.linkEncourage.hover {
    background-color: #507aac;
}

.linkDiscourage, a.linkDiscourage:link, a.linkDiscourage:visited, a.linkDiscourage:active {
    color: #8c8c8c;
    background-color: #40628a;
    border-color: #161616;
}

.linkDiscourage.hover {
	color: #ff0000;
    background-color: #507aac;
}

.inactive, a.inactive:link, a.inactive:visited, a.inactive:active, a.inactive.hover {
    color: #ffffff;
    background: #999999;
    border-color: #666666;
}