ul {
    padding: 4px 0 0 10px;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0 0 2px 0;
}

table.fixed {
    table-layout:fixed;
}

table.fixed td {
    overflow: hidden;
}

/* Table styling for the power monitor */
table.pmon {
    border: 2px solid RoyalBlue;
}

table.pmon td, table.pmon th {
    border-bottom: 1px dotted black;
    padding: 0px 5px 0px 5px;
}

/* Table styling for the crew manifest */
.manifest-header(@color: #666) {
	background: @color;
    font-weight: bold;
    color: #ffffff;
}

th.command {
	.manifest-header(#3333FF);
}

th.sec {
	.manifest-header(#8e0000);
}

th.med {
	.manifest-header(#006600);
}

th.eng {
	.manifest-header(#b27300);
}

th.sci {
	.manifest-header(#a65ba6);
}

th.ser {
	.manifest-header(#7100AA);
}

th.sup {
	.manifest-header(#666621);
}

th.civ {
	.manifest-header(#a32800);
}

th.misc {
	.manifest-header;
}

span.qm-job {
	color: mix(@highlight-color, @average-color, 33%);
    font-weight: bold;
}

/* Striped lines for tables and divs */
.striped {
    .striped-base() {
        background-color: #404040;
    }
    tr:nth-child(even) {
        .striped-base;
    }
    &:not(table) > :nth-child(even) {
        .striped-base;
    }
}