#uiNoScript {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -150px;
    width: 280px;
    height: 120px;
    background: #ffffff;
    border: 2px solid #ff0000;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    z-index: 9999;
    padding: 0px 10px;
    text-align: center;
}

/**********************************
     .notice | Caution Stripes
**********************************/
.notice {
    position: relative;
    background: url(uiNoticeBackground.jpg) 50% 50%;
    color: #000000;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 4px 0 4px 0;
}

.noticePlaceholder {
    position: relative;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 4px 0 4px 0;
}

.notice.icon {
    padding: 2px 4px 0 20px;
}

.notice img {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
}

div.notice {
    clear: both;
}
/********************\
\********************/


/**********************************
    PDA, DNA Modifier styles
    Don't fit anywhere else.
**********************************/

/* PDA styling */
.wholeScreen {
    position: absolute;
    color: #517087;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.pdalink {
    float: left;
    white-space: nowrap;
    cursor: default !important;

	&.disabled {
		background: none;
		border: none;
		color: #999;
		text-align: left;
	}
}

.pdanote {
    color: #cd6500;
    font-weight: bold;
}

.item.mainmenu {
	padding-bottom: 0.5em;
}

div.clock {
	color: white;
	font-weight: bold;
	float: right;
	padding-right: 2em;
}

#pdaFooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: @dark-color;
}

.pdaFooterButton {
	width: 33%;
	padding: 0.5em 0;
	font-size: 200%;
	border: none;
	background: none;
	color: #fff;

	&.hover {
		background: #507aac;
	}

	&.disabled {
		background: none !important;
		color: #555 !important;
	}

	.uiLinkPendingIcon {
		position: absolute;
		width: 33%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

/* DNA Modifier styling */
.dnaBlock {
    float: left;
    width: 90px;
    padding: 0 0 5px 0;
}

.dnaBlockNumber {
    font-family: Fixed, monospace;
    float: left;
    color: #ffffff;
    background: #363636;
    min-width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}

.dnaSubBlock {
    font-family: Fixed, monospace;
    float: left;
    padding: 0;
    min-width: 16px;
    height: 20px;
    text-align: center;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(uiMaskBackground.png);
}

.maskContent {
    width: 100%;
    height: 200px;
    margin: 200px 0;
    text-align: center;
}
/********************\
\********************/