@import "_config";

body {
    color: #ffffff;
    font-family: @font;
    font-size: @fontsize;
    line-height: 170%;
    margin: 0;
    padding: 0;
}

hr {
    background-color: #40628a;
    height: 1px;
    border: none;
}

img, a img {
    border-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 12px 0 6px 0;
    color: #FFFFFF;
    clear: both;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}