body {
	/*	Disables scroll bars */
	overflow:hidden;
}
#background {
	width:900px;
	height:406px;
	position: absolute;
	background: url(backgroundsprite.png) no-repeat;
	background-position: 0 -166px;
	top: 62px;
}

#grayorbs-chute {
	width: 902px;
	height: 131px;
	position: absolute;
	background: url(backgroundsprite.png) no-repeat center;
	background-position: 3px -15px;
	top: 337px;
	left: -3px;
}

#foreground {
	width:900px;
	height:520px;	
	position: absolute;
	background: url(backgroundsprite.png) no-repeat center;
	background-position: 0 -575px;
	z-index:10;
}

#crane {
	width:100px;
	height:100px;
	position: absolute;
	top: 131px;
	left: 100px;
}

#crane-handle-top {
	width: 10px;
	height: 83px;
	position: absolute;
	background: url('crane_top.png') repeat-y center;
	bottom: 86px;/*top: -69px;*/
	left: 47px;
}

#crane-handle-bottom {
	width:10px;
	height:8px;
	position: absolute;
	background: url('clawpieces.png') no-repeat center;
	top: 14px;
	left: 47px;
	background-position: -198px -83px;
}

#crane-center{
	width: 26px;
	height: 27px;
	position: absolute;
	background: url('clawpieces.png') no-repeat center;
	top: 22px;
	left: 39px;
	background-position: -190px -101px;
}

#crane-claw {
	width: 110px;
	height: 78px;
	position: absolute;
	background: url('clawpieces.png') no-repeat center;
	top: 33px;
	left: 11px;
	background-position: -36px -34px;
}

.prize-ball {
	width: 60px;
	height: 60px;
	//background: url('prizeorbs.png') no-repeat;
	//-moz-border-radius: 30px;
	//-webkit-border-radius: 30px;
	//border-radius: 30px;
	position: absolute;
}

.button {
	cursor: pointer;
}