.BrigCells__list {
  .Table__row--header {
    text-align: center;
  }

  .Table__cell {
    text-align: center;
  }

  .BrigCells__listRow--active .Table__cell {
    background-color: hsl(347.5, 80%, 30%);
  }
}
