$color-background: rgba(0, 0, 0, 0.33) !default;

.CameraConsole__left {
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  width: 220px;
}

.CameraConsole__right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
  background-color: $color-background;
}

.CameraConsole__new__right {
  position: relative;
  display: flex;
  flex: 1;
  height: 90%;
  flex-direction: column;
  background-color: $color-background;
}

.CameraConsole__header {
  display: flex;
  justify-content: space-between;
  height: 24px;
  line-height: 24px;
  margin: 4px 6px 0;
}

.CameraConsole__map {
  display: flex;
  overflow: hidden;
  background-color: #00a;

  .NoticeBox {
    margin-top: calc(50% - 24px);
  }
}
