.Contractor {
  * {
    font-family: 'Courier New', Courier, monospace;
  }
}

.Contractor__Contract {
  .Button {
    font-size: 11px;
    white-space: normal !important;
  }
}

.Contractor__photoZoom {
  text-align: center;

  & > img {
    width: 96px;
    -ms-interpolation-mode: nearest-neighbor;
  }

  & > .Button {
    position: absolute;
  }
}

