.Contractor {
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  .Section__titleText {
    display: inline-block;
    max-width: 70%;

    & > .Flex {
      width: 100%;

      & > .Flex__item:first-of-type {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.Contractor__Contract {
  .Button {
    font-size: 11px;
    white-space: normal !important;
  }
}

.Contractor__photoZoom {
  text-align: center;

  & > img {
    width: 96px;
    -ms-interpolation-mode: nearest-neighbor; // TODO: Remove with 516
    image-rendering: pixelated;
  }

  & > .Button {
    position: absolute;
  }
}
