.Button--color--role-Engineering {
  --color: #ac7524;
}
.Button--color--role-Security {
  --color: #9c2323;
}
.Button--color--role-Paranormal {
  --color: #850c85;
}
.Button--color--role-Janitor {
  --color: #814881;
}
.Button--color--role-Command {
  --color: #113b8d;
}
.Button--color--role-Medical {
  --color: #416abd;
}
