@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.Library__Booklist {
  tr > td {
    text-align: center;
  }

  tr:not(:first-child) {
    height: 24px;
    line-height: 24px;

    transition: background-color 50ms;
    &:hover,
    &:focus {
      background-color: rgba(base.$color-bg, 1);
    }
  }
}

.Library__SearchContainer {
  background-color: rgba(base.$color-bg, 0.5);
  tr {
    td:first-child {
      width: 60%;
    }
  }
}
