.Library__Booklist {
  tr > td {
    text-align: center;
  }

  tr:not(:first-child) {
    height: 24px;
    line-height: 24px;
    transition: background-color var(--transition-time-fast);

    &:hover,
    &:focus {
      background-color: var(--color-base);
    }
  }
}

.Library__SearchContainer {
  background-color: hsl(from var(--color-base) h s l / 0.5);

  tr {
    td:first-child {
      width: 60%;
    }
  }
}
