.Loadout-Modal__background {
  padding: var(--space-m);
  background-color: var(--color-base);
}

.Loadout-InfoBox {
  display: flex;
  line-height: 1.2rem;
  text-shadow: 0 1px 0 2px hsla(0, 0%, 0%, 0.66);
  text-align: left;
}
