@use '../base.scss' as *;

.Loadout-Modal__background {
  padding: 0.5em;
  background-color: $color-bg;
}

.Loadout-InfoBox {
  line-height: 1.25em;
  text-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.33);
}
