@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

.MedicalRecords__list {
  tr > td {
    text-align: center;
  }

  tr:not(:first-child) {
    height: 24px;
    line-height: 24px;
    cursor: pointer;

    transition: background-color 50ms;
    &:hover,
    &:focus {
      background-color: rgba(base.$color-bg, 1);
    }
  }
}

.MedicalRecords__listRow--deceased {
  background-color: colors.bg(#890e26);
}

.MedicalRecords__listRow--ssd {
  background-color: colors.bg(#008091);
}

.MedicalRecords__listRow--physically_unfit {
  background-color: colors.bg(#b38f00);
}

.MedicalRecords__listRow--disabled {
  background-color: colors.bg(#251496);
}

// The color behind a medibot row for when its disabled (0 represents false).
.MedicalRecords__listMedbot--0 {
  background-color: colors.bg(#321717);
}
