.PDA__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.PDA__footer__button {
  text-align: center;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-xs);
  font-size: 24px;
}
