.PDA__footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 35px;
  background-color: "#1b1b1b";
}

.PDA__footer__button {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 7px;
  font-size: 25px;
}
