@use '../base.scss';

$background-color: rgba(0, 0, 0, 0.33) !default;
$text-color: rgba(255, 255, 255) !default;

.PrizeCounter__BuyButton {
  width: 64px;
  height: 100%;
  padding-top: 0.25em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: lighten($background-color, 25%);
  color: darken($text-color, 25%);

  transition:
    color 100ms,
    background-color 100ms;

  &:hover {
    background-color: lighten($background-color, 33%);
    color: $text-color;
  }

  .fa,
  .fas,
  .far {
    color: rgba(60, 255, 60, 0.66);
    transform: scale(1.6);
    position: absolute;
    top: 2.1em;
    left: 1.4em;
  }

  &--disabled {
    background-color: rgba(255, 50, 50, 0.1);
    color: darken($text-color, 50%);
    .fa,
    .fas,
    .far {
      color: rgba(255, 60, 60, 0.66);
    }
    &:hover,
    &:focus {
      background-color: rgba(255, 50, 50, 0.1);
      color: darken($text-color, 50%);
    }
  }
}

.PrizeCounter__Item {
  margin-bottom: base.em(6px);
  background-color: rgba(125, 125, 125, 0.05);
  border: base.em(1px) solid lighten($background-color, 25%);
}
