.reagents-table {
  border-collapse: separate;
  border-spacing: 0 var(--space-sm);
}

.volume-cell {
  width: 5em;
  text-align: right;
  vertical-align: middle;
}

.volume-label {
  min-width: 5em;
  max-width: 5em;
  text-overflow: ellipsis;
  overflow-x: clip;
}

.volume-cell:hover .volume-label,
.volume-cell:not(:hover) .volume-actions-wrapper {
  display: none;
}

.reagent-absent-name-cell {
  color: var(--color-grey);
}

.reagent-row > *:last-child {
  padding-right: var(--space-m);
}

.absent-row:not(:hover) .add-reagent-button {
  visibility: hidden;
}

.condensed-button {
  margin: 0;
  padding: 0;
  min-height: 0;
  line-height: 0;
  background: none;
}
