.RndConsole {
  position: relative;
}

// A fullscreen notice
.RndConsole__Overlay {
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.RndConsole__LatheCategory__MatchingDesigns .Table__cell {
  padding-bottom: 4px;
}

.RndConsole__LatheMaterials {
  .Table__cell:nth-child(2) {
    padding-left: 16px;
  }
}

.RndConsole__LatheMaterialStorage {
  .Table__cell {
    padding: 4px 0 4px 0;
    border-bottom: 1px solid var(--color-gray);
  }
}

.RndConsole__Overlay__Wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-grow: 1;
  padding: 24px;
  background-color: hsla(0, 0%, 0%, 0); // force a background to capture clicks

  .NoticeBox {
    flex-grow: 1;
    margin-bottom: 80px;
    font-size: 18pt;
    padding: 0.3em 0.75em;
  }
}

.RndConsole__RndNavbar {
  .Button {
    // add padding between navbar and contents when any button is visible
    margin-bottom: 10px;
  }
}

#research-levels tr {
  & > *:first-child {
    width: 2em;
  }

  & > *:nth-child(3),
  & > *:nth-child(4),
  & > *:nth-child(5) {
    text-align: center;
  }
}

#research-levels tr:not(:first-child) > *:first-child {
  height: 2em;
}

.upgraded-level {
  color: #55d355;
}

.research-level-no-effect {
  color: #888888;
}
