@use '../colors.scss';

.SecurityRecords__list {
  tr > td {
    text-align: center;
  }

  tr:not(:first-child) {
    cursor: var(--cursor-pointer);
    line-height: 24px;
    height: 24px;
    transition: background-color var(--transition-time-fast);

    &:hover,
    &:focus {
      background-color: var(--color-base);
    }
  }
}

.SecurityRecords__listRow--arrest {
  background-color: colors.bg(hsl(350, 80%, 30%));
}

.SecurityRecords__listRow--execute {
  background-color: colors.bg(hsl(270, 40%, 47.5%));
}

.SecurityRecords__listRow--incarcerated {
  background-color: colors.bg(hsl(30, 95%, 22.5%));
}

.SecurityRecords__listRow--parolled {
  background-color: colors.bg(hsl(187.5, 100%, 27.5%));
}

.SecurityRecords__listRow--released {
  background-color: colors.bg(hsl(200, 60%, 32.5%));
}

.SecurityRecords__listRow--demote {
  background-color: colors.bg(hsl(105, 100%, 20%));
}

.SecurityRecords__listRow--search {
  background-color: colors.bg(hsl(48, 100%, 35%));
}

.SecurityRecords__listRow--monitor {
  background-color: colors.bg(hsl(250, 75%, 32.5%));
}
