@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-danger: colors.bg(colors.$red) !default;
$color-caution: colors.bg(colors.$yellow) !default;

$background-beige: #e8e4c9;

.SecureStorage__displayBox {
  background-color: #212121;
  color: #8b8b8b;
  border: 0.167em inset $background-beige;
  font-size: 375%;
  font-family: monospace;
  padding: 0.25em;
}

.SecureStorage__displayBox--good {
  background-color: #002003;
  color: #03e017;
}

.SecureStorage__displayBox--bad {
  background-color: #210000;
  color: #e00202;
}

.SecureStorage__Button {
  outline-width: 0.25rem !important;
  border-width: 0.3rem !important;
  border: 0.167em outset $background-beige;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.SecureStorage__Button--keypad {
  background-color: $background-beige;
  border-color: $background-beige;
  color: #a9a692;
  &:hover {
    background-color: lighten($background-beige, 15%);
    border-color: lighten($background-beige, 15%);
    color: #a9a692;
  }
}

.SecureStorage__Button--E {
  background-color: $color-caution;
  border-color: $color-caution;
  color: #ffffff;
  &:hover {
    background-color: lighten($color-caution, 20%);
    border-color: lighten($color-caution, 20%);
    color: #ffffff;
  }
}

.SecureStorage__Button--C {
  background-color: $color-danger;
  border-color: $color-danger;
  color: #ffffff;
  &:hover {
    background-color: lighten($color-danger, 20%);
    border-color: lighten($color-danger, 20%);
    color: #ffffff;
  }
}
