.SeedExtractor__list {
  tr:not(:first-child) {
    cursor: var(--cursor-pointer);
    line-height: 24px;
    height: 24px;
    transition: background-color var(--transition-time-fast);

    &:hover,
    &:focus {
      background-color: var(--color-base);
    }
  }
}
