.ShuttleManager__StatusDisplay {
  color: rgb(219, 145, 7);
  font-family: monospace;
  font-weight: bolder;
  margin: inherit auto;
  font-size: 180%;
  padding: 4px;
}

.ShuttleManager__PortRow .Table__cell {
  padding: 2px;
}
