/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	color: #fff;
}
body {
	background: #171c20;
}
h1, h2, h3, h4, h5, h6 {color: #06f;}

a {color: #06f;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#ping {
	color: #000;
}

/* OUTPUT COLORS */
h1, h2, h3, h4, h5, h6	{color: #06f;}
.darkmblue 				{color: #6685f5;}
.pmsend					{color: #6685f5;}
.deadsay				{color: #B800B1;}
.comradio				{color: #526aff;}
.syndradio				{color: #993F40;}
.taipan					{color: #ffec8b;}
.dsquadradio				{color: #998599;}
.airadio				{color: #FF94FF;}
.centradio				{color: #78789B;}
.secradio				{color: #CF0000;}
.supradio				{color: #9F8545;}
.proradio				{color: #F70285;}
.admin_channel			{color: #fcba03;}
.djradio				{color: #996600;}
.binaryradio				{color: #1B00FB;}
.mommiradio				{color: #6685f5;}
h1.alert, h2.alert			{color: #FFF;}
.ghostalert				{color: #cc00c6;}

.info					{color: #6685f5;}
.notice					{color: #6685f5;}
.boldnotice				{color: #6685f5;}

.alien					{color: #C433C4;}
.terrorspider				{color: #CF52FA;}


.robot					{font-family: 'PxPlus IBM MDA';}
.newscaster				{color: #CC0000;}
.adminmod				{color: #F0AA14;}
.solcom					{color: #8282FB;}
.kidan					{color: #C64C05;}
.drask					{color: #a3d4eb;}
.shadowling				{color: #Cb2799;}
.cultspeech				{color: #AF0000;}
.cultitalic				{color: #A60000;}
.cultlarge				{color: #A60000;}
.narsie					{color: #A60000;}
.narsiesmall			{color: #A60000;}
.interface				{color: #9031C4;}
.purple					{color: #9031C4;}
.skeleton				{color: #C8C8C8;}

.revennotice				{color: #6685F5;}
.revenboldnotice			{color: #6685F5;}
.revenbignotice				{color: #6685F5;}

.specialnotice				{color: #4A6F82;}

/* /vg/ Saycode Rewrite */
.whisper				{color:#CCCCCC;}
/* Recruiting stuff */
.internal.boldnshit {color: #6685f5;}

/* ADMIN TICKETS */

.adminticket {color: #3daf21;}

.adminticketalt {color: #ccb847;}

/* Syndicate codewords */
span.body .codephrases {color: #5555FF;}
span.body .coderesponses {color: #FF3333;}

/* Examine styles */
.examine {border: 1px solid #1c1c1c; padding: 10px; margin: 2px 10px; background: #22272b; color: #e9e9e9}
.examine a 						{color: #e9e9e9;}
.examine .info					{color: #e9e9e9;}
.examine .notice				{color: #e9e9e9;}
.examine .boldnotice			{color: #e9e9e9;}
.examine .deptradio				{color: #cf7dcf;}

/* .examineinfo			{color: #b6c5ff;} */
