/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	color: #fff;
}
body {
	background: #151515;
}
h1, h2, h3, h4, h5, h6 {color: #06f;}

a {color: #06f;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#ping {
	color: #000;
}

/* OUTPUT COLORS */
h1, h2, h3, h4, h5, h6	{color: #06f;}
.darkmblue 				{color: #6685f5;}
.pmsend					{color: #6685f5;}
.deadsay				{color: #B800B1;}
.comradio				{color: #526aff;}
.syndradio				{color: #993F40;}
.sovradio				{color: #f7941d;}
.taipan					{color: #ffec8b;}
.spider_clan			{color: #3cfd1e;}
.dsquadradio				{color: #998599;}
.airadio				{color: #FF94FF;}
.centradio				{color: #78789B;}
.secradio				{color: #CF0000;}
.supradio				{color: #9F8545;}
.proradio				{color: #F70285;}
.admin_channel			{color: #fcba03;}
.djradio				{color: #996600;}
.binaryradio				{color: #1B00FB;}
.mommiradio				{color: #6685f5;}
h1.alert, h2.alert			{color: #FFF;}
.ghostalert				{color: #cc00c6;}

.info					{color: #4450ff;}
.notice					{color: #6685f5;}
.boldnotice				{color: #6685f5;}

.alien					{color: #C433C4;}
.terrorspider				{color: #CF52FA;}


.robot					{font-family: 'PxPlus IBM MDA';}
.newscaster				{color: #C00000;}
.adminmod				{color: #F0AA14;}
.solcom					{color: #8282FB;}
.kidan					{color: #C64C05;}
.drask					{color: #a3d4eb;}
.moth					{color: #869b29; font-family: "Copperplate";}
.shadowling				{color: #Cb2799;}
.cultspeech				{color: #C00000;}
.cultitalic				{color: #C00000;}
.cultlarge				{color: #C00000;}
.narsie					{color: #C00000;}
.narsiesmall			{color: #C00000;}
.interface				{color: #8c00ff;}
.purple					{color: #8c00ff;}
.skeleton				{color: #C0C0C0C0;}
.clock					{color: #e6a400;}
.clockspeech			{color: #cc9200;}
.clockitalic			{color: #e6a400;}
.clocklarge				{color: #e6a400;}
.ratvar					{color: #e6a400;}

.revennotice				{color: #6685F5;}
.revenboldnotice			{color: #6685F5;}
.revenbignotice				{color: #6685F5;}

.specialnotice				{color: #4A6F82;}

/* /vg/ Saycode Rewrite */
.whisper				{color:#CCCCCC;}
/* Recruiting stuff */
.internal.boldnshit {color: #6685f5;}

/* ADMIN TICKETS */

.adminticket {color: #3daf21;}

.adminticketalt {color: #ccb847;}

/* Syndicate codewords */
span.body .codephrases {color: #5555FF;}
span.body .coderesponses {color: #FF3333;}

/* Examine styles */
.examine {border: 1px solid #1c1c1c; padding: 10px; margin: 2px 10px; background: #252525; color: #FFFFFF}
.examine a 						{color: #FFFFFF;}
.examine .info					{color: #4450ff;} /* No idea why to keep these, but oh well */
.examine .notice				{color: #6685f5;}
.examine .boldnotice			{color: #6685f5;}
.examine .deptradio				{color: #AD43AB;}

/* .examineinfo			{color: #b6c5ff;} */
