<!--
Title: Body Scanner UI
Used In File(s): \code\game\machinery\adv_med.dm
 -->

{{if !data.occupied}}
	<h3>No occupant detected.</h3>
{{else}}
	<h4><b>Occupant Data:</b></h4>
	<div class="item">
		<div class="itemLabelNarrow">
			Name:
		</div>
		<div class="itemContent">
			{{:data.occupant.name}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Health:
		</div>
		{{:helper.displayBar(data.occupant.health, 0, 100, (data.occupant.health >= 50) ? 'good' : (data.occupant.health >= 25) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.round(data.occupant.health*10)/10}}%
			</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Status:
		</div>
		<div class="itemContent">
			{{if data.occupant.stat==0}}
				<span class="good"> Alive </span>
			{{else data.occupant.stat==1}}
				<span class="average"> Critical </span>
			{{else}}
				<span class="bad"> Dead </span>
			{{/if}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabelNarrow">
			Temperature:
		</div>
		<div class="itemContent">
			{{:data.occupant.bodyTempC}}&deg;C, {{:data.occupant.bodyTempF}}&deg;F
		</div>
	</div>

	{{if data.occupant.hasVirus}}
		<span class="bad">
			Viral pathogen detected in blood stream.
		</span> <br>
	{{/if}}
	{{if data.occupant.hasBorer}}
		<span class="bad">
			Large growth detected in frontal lobe, possibly cancerous. Surgical removal is recommended. </span> <br>
	{{/if}}
	{{if data.occupant.blind}}
		<span class="average">Pupils unresponsive.</span><br>
	{{/if}}
	{{if data.occupant.nearsighted}}
		<span class="average">Retinal misalignment detected</span> <br>
	{{/if}}

	<br>
	{{:helper.link('Print', 'document', {'print_p' : 1, 'name' : data.occupant.name})}}
	{{:helper.link('Eject Occupant', 'arrowreturnthick-1-s', {'ejectify' : 1}, data.occupied ? null : 'disabled')}}
	<br> <br>

	<b>Damage: </b>
	<table> <tbody>
			<tr>
				<td> Brute Damage: </td>
				<td> Brain Damage: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.bruteLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.bruteLoss) }} </td>
				<td> {{:helper.displayBar(data.occupant.brainLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.brainLoss)}}  </td>
			</tr>
			<tr>
				<td> Resp. Damage: </td>
				<td> Radiation Level: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.oxyLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.oxyLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.radLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.radLoss)}}  </td>
			</tr>
			<tr>
				<td> Toxin Damage: </td>
				<td> Genetic Damage: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.toxLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.toxLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.cloneLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.cloneLoss)}} </td>
			</tr>
			<tr>
				<td> Burn Severity: </td>
				<td> Paralysis %: ({{:data.occupant.paralysisSeconds}} seconds left) </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.fireLoss, 0, data.occupant.maxHealth, 'bad', data.occupant.fireLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.paralysis, 0, data.occupant.maxHealth, 'bad', data.occupant.paralysis)}} </td>
			</tr>
		</tbody>
	</table>

	{{if data.occupant.blood.hasBlood}}
		<br>
		<b>Blood:</b>
		<div class="line">
			<div class="statusLabel">Pulse:</div> <div class="statusValue">{{:data.occupant.blood.pulse}} bpm</div>
		</div>

		<div class="line">
			<div class="statusLabel">Blood Level:</div>
			{{if data.occupant.blood.percent <= 60}}
				{{:helper.displayBar(data.occupant.blood.bloodLevel, 0, data.occupant.blood.bloodMax, 'bad')}}
			<div class="statusValue">
				{{:data.occupant.blood.percent}}%, {{:data.occupant.blood.bloodLevel}}cl
			</div>
			{{else data.occupant.blood.percent <= 90}}
				{{:helper.displayBar(data.occupant.blood.bloodLevel, 0, data.occupant.blood.bloodMax, 'average')}}
			<div class="statusValue">
				{{:data.occupant.blood.percent}}%, {{:data.occupant.bloodLevel}}cl
			</div>
			{{else}}
				{{:helper.displayBar(data.occupant.blood.bloodLevel, 0, data.occupant.blood.bloodMax, 'good')}}
			<div class="statusValue">
				{{:data.occupant.blood.percent}}%, {{:data.occupant.blood.bloodLevel}}cl
			</div>
			{{/if}}
		</div>
	{{/if}}
	<br> <br>

	<b>External Organs</b>
	<table> <thead>
			<tr>
				<th style="width: 20%"> Name </th>
				<th style="width: 20%"> Brute damage </th>
				<th style="width: 20%"> Burn damage </th>
				<th style="width: 40%"> Injuries </th>
			</tr>
		</thead>
		<tbody class="striped">
			{{for data.occupant.extOrgan}}
				<tr>
					<td> {{:value.name}} </td>
					<td> {{if value.bruteLoss> 0}} <span class='average'> {{else}} <span> {{/if}} {{:value.bruteLoss}} </span> </td>
					<td> {{if value.fireLoss> 0}} <span class='average'> {{else}} <span> {{/if}} {{:value.fireLoss}} </span> 	</td>
					<td>
						<span class='average'>
						{{if value.status.destroyed}} DESTROYED <br> {{/if}}
						{{if value.status.bleeding}} external bleeding <br> {{/if}}
						{{if value.internalBleeding}} internal bleeding <br> {{/if}}
						{{if value.lungRuptured}} lung ruptured <br> {{/if}}
						{{if value.status.broken}} {{:value.status.broken}} <br> {{/if}}
						{{if value.germ_level > 100}}
							{{if value.germ_level < 300}}
								mild infection <br>
							{{else value.germ_level < 400}}
								mild infection+ <br>
							{{else value.germ_level < 500}}
								mild infection++ <br>
							{{else value.germ_level < 700}}
								acute infection <br>
							{{else value.germ_level < 800}}
								acute infection+ <br>
							{{else value.germ_level < 900}}
								acute infection++ <br>
							{{else value.germ_level >= 900}}
								septic <br>
							{{/if}}
						{{/if}}
						{{if value.open}}	open incision <br> {{/if}}
						</span>
						{{if value.status.splinted}} splinted <br> {{/if}}
						{{if value.status.robotic}} robotic <br> {{/if}}
						{{if value.implants_len}}
							{{for value.implants : impValue:impindex}}
								{{:impValue.known ? impValue.name : "unknown object"}} <br>
							{{/for}}
						{{/if}}
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
	<br>
	<b>Internal Organs</b>
	<table>	<thead>
			<tr>
				<th width=25%> Name </th>
				<th width=25%> Brute damage </th>
				<th widht=50%> Injuries </th>
			</tr>
		</thead>
		<tbody class="striped">
			{{for data.occupant.intOrgan}}
				<tr>
					<td> {{:value.name}} <br> </td>
					<td> {{if value.damage > 0}} <span class='average'> {{else}} <span> {{/if}} {{:value.damage}} </span> </td>
					<td>
						{{if value.germ_level > 100}}
							{{if value.germ_level < 300}}
								mild infection <br>
							{{else value.germ_level < 400}}
								mild infection+ <br>
							{{else value.germ_level < 500}}
								mild infection++ <br>
							{{else value.germ_level < 700}}
								acute Infection <br>
							{{else value.germ_level < 800}}
								acute Infection+ <br>
							{{else value.germ_level < 900}}
								acute Infection++ <br>
							{{else value.germ_level >= 900}}
								septic <br>
							{{/if}}
						{{/if}}
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
