<!--
Title: AI System Integrity Restorer
Used In File(s): \code\game\machinery\computer\aifixer.dm
-->
{{if data.occupant}}
	<div class="item">
		<h2>Stored AI: {{:data.occupant}}</h2>
		<h3>Information</h3>
		<div class="itemLabel">
			Integrity
		</div>
		<div class="itemContent">
			<span class="{{if data.integrity >= 75}}good{{else data.integrity >= 25}}average{{else}}bad{{/if}}">{{:data.integrity}}%</span>
		</div>
		<div class="itemLabel">
			Status
		</div>
		<div class="itemContent">
			{{if data.stat == 2}}
				<span class="bad">Non-functional</span>
			{{else}}
				<span class="good">Functional</span>
			{{/if}}
		</div>
		<div class="itemLabel">
			Wireless Activity
		</div>
		<div class="itemContent">
			{{:helper.link('Enabled','check',{'wireless' : 0},data.wireless == 0 ? 'selected' : '')}}
			{{:helper.link('Disabled','close',{'wireless' : 1},data.wireless == 1 ? 'selected' : '')}}
		</div>
		<div class="itemLabel">
			Subspace Transceiver
		</div>
		<div class="itemContent">
			{{:helper.link('Enabled','check',{'radio' : 0},data.radio == 0 ? 'selected' : '')}}
			{{:helper.link('Disabled','close',{'radio' : 1},data.radio == 1 ? 'selected' : '')}}
		</div>
		<h3>Laws</h3>
		{{for data.laws}}
			{{:value.number}}: {{:value.law}}<br />
		{{empty}}
			<span class='bad'>No laws detected!</span>
		{{/for}}

		<h3>Actions</h3>
		{{if data.active}}
			<b>Reconstruction in progress, please wait.</b>
			{{:helper.displayBar(data.integrity, 0, 100, (data.integrity >= 75) ? 'good' : (data.integrity >= 25) ? 'average' : 'bad')}}
			<span class="statusValue">{{:helper.smoothRound(data.integrity)}}%</span>
		{{/if}}
		<div class="item">
			{{:helper.link('Reconstruct', 'wrench', {'fix' : 1}, data.active || data.integrity >= 100 ? 'disabled' : '')}}
		</div>
	</div>
{{else}}
	<h3>No artificial intelligence detected.</h3>
{{/if}}