{{if data.restoring}}
	<div class="notice">Reconstruction in progress!</div>
{{/if}}

<div class='item'>
	<div class='itemLabel'>Inserted AI:</div>
	<div class='itemContent'>{{:helper.link(data.name ? data.name : "-----", 'eject', {'action' : 'PRG_eject'}, data.nocard ? 'disabled' : null)}}</div>
</div>

{{if data.error}}
	<b>ERROR: {{:data.error}}</b>
{{else}}
	<h2>System Status</h2>
	<div class="item">
		<div class="item">
			<div class="itemLabel">Current AI:</div>
			<div class="itemContent">{{:data.name}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">Status:</div>
			<div class="itemContent">{{if data.isDead}}Nonfunctional{{else}}Functional{{/if}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">System Integrity:</div>
			{{:helper.displayBar(data.health, 0, 100, (data.health > 75) ? 'good' : (data.health > 50) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.smoothRound(data.health)}}%
			</div>	
		</div>
		<div class="item">
			<div class="itemLabel">
				Active Laws:
			</div>
			<div class="itemContent">
				<table>
					{{for data.ai_laws}}
						<tr><td>{{:value.index}}: {{:value.text}}
					{{/for}}
				</table>
			</div>
		</div>
	</div>
	<h2>Operations</h2>
	{{:helper.link('Begin Reconstruction', 'plus', {'action' : 'PRG_beginReconstruction'}, data.restoring ? 'disabled' : null)}}
{{/if}}