<!--
Title: Alarm Monitor Console (Main content)
Used In File(s): \code\modules\nano\modules\alarm_monitor.dm
 -->

{{for data.categories}}
	<h2 style="color: #e9c183;">{{:value.category}}</h2>
	{{for value.alarms :alarmValue:alarmIndex}}
		{{if alarmValue.origin_lost}}
			<b>{{:alarmValue.name}} <span class='notice'>Alarm Origin Lost</span></b><br />
		{{else}}
			<b>{{:alarmValue.name}}</b><br />
		{{/if}}
		{{if alarmValue.has_cameras || alarmValue.lost_sources != ""}}
			<div class="item">
				{{if alarmValue.has_cameras}}
					<div class="itemContent" style="width: 100%;">	
						{{for alarmValue.cameras :cameraValue:cameraIndex}}
							{{if cameraValue.deact}}
								{{:helper.link(cameraValue.name + " (deactivated)", '', {}, 'inactive')}}
							{{else}}
								{{:helper.link(cameraValue.name, '', {'switchTo' : cameraValue.camera})}}
							{{/if}}
						{{/for}}
					</div>		
				{{else}}
					No cameras found.
				{{/if}}
				{{if alarmValue.lost_sources != ""}}
					<div class="itemContent" style="width: 100%;">
							<H4><span class='notice'>Lost Alarm Sources: {{:alarmValue.lost_sources}}</span></H4>
					</div>
				{{/if}}
			</div>
		{{/if}}
	{{empty}}	
		<span class="white">--All Systems Nominal</span>
	{{/for}}
{{/for}}