{{:helper.link('Show Detail List', 'file-text', {'showMap' : 0})}}
<div style="float: right; width: 240px;">
    <span style="float: left;">Zoom Level:&nbsp;</span>
    <div unselectable="on" class="link zoomLink" data-zoom-level="2">x1</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="4">x2</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="8">x4</div>
    <div unselectable="on" class="link zoomLink" data-zoom-level="16">x8</div>
</div>
