<div class="item">
	<div class="itemLabel">Power:</div>
	<div class="itemContent">{{:helper.link(data.on ? 'On' : 'Off', data.on ? 'power-off' : 'times', {'power' : 1}, null, data.on ? 'selected' : null)}}</div>
</div>
<div class="item">
	<div class="itemLabel">Output Pressure:</div>
	<div class="itemContent">
		{{:helper.link('Set', 'pencil', {'pressure' : 'input'})}}
		{{:helper.link('Max', 'plus', {'pressure' : 'max'}, data.pressure == data.max_pressure ? 'disabled' : null)}}
		{{:helper.smoothRound(data.pressure)}} kPa
	</div>
</div>
<div class="item">
	<div class="itemLabel">Node 1:</div>
	<div class="itemContent">
		{{:helper.link('<i class="fa fa-fast-backward"></i>', null, {'node1' : -0.1}, data.node1_concentration == 0 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-backward"></i>', null, {'node1' : -0.01}, data.node1_concentration == 0 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-forward"></i>', null, {'node1' : 0.01}, data.node1_concentration == 100 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-fast-forward"></i>', null, {'node1' : 0.1}, data.node1_concentration == 100 ? 'disabled' : null)}}
		{{:helper.smoothRound(data.node1_concentration)}}%
	</div>
</div>
<div class="item">
	<div class="itemLabel">Node 2:</div>
	<div class="itemContent">
		{{:helper.link('<i class="fa fa-fast-backward"></i>', null, {'node2' : -0.1}, data.node2_concentration == 0 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-backward"></i>', null, {'node2' : -0.01}, data.node2_concentration == 0 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-forward"></i>', null, {'node2' : 0.01}, data.node2_concentration == 100 ? 'disabled' : null)}}
		{{:helper.link('<i class="fa fa-fast-forward"></i>', null, {'node2' : 0.1}, data.node2_concentration == 100 ? 'disabled' : null)}}
		{{:helper.smoothRound(data.node2_concentration)}}%
	</div>
</div>