<div class="item">
	<div class="itemLabel">Power:</div>
	<div class="itemContent">{{:helper.link(data.on ? 'On' : 'Off', data.on ? 'power-off' : 'times', {'power' : 1}, null, data.on ? 'selected' : null)}}</div>
</div>
{{if data.max_rate}}
	<div class="item">
		<div class="itemLabel">Transfer Rate:</div>
		<div class="itemContent">
			{{:helper.link('Set', 'pencil', {'rate' : 'input'})}}
			{{:helper.link('Max', 'plus', {'rate' : 'max'}, data.rate == data.max_rate ? 'disabled' : null)}}
			{{:helper.smoothRound(data.rate)}} L/s
		</div>
	</div>
{{else}}
	<div class="item">
		<div class="itemLabel">Output Pressure:</div>
		<div class="itemContent">
			{{:helper.link('Set', 'pencil', {'pressure' : 'input'})}}
			{{:helper.link('Max', 'plus', {'pressure' : 'max'}, data.pressure == data.max_pressure ? 'disabled' : null)}}
			{{:helper.smoothRound(data.pressure)}} kPa
		</div>
	</div>
{{/if}}

