<!-- 
Title: Brig Timer
Used In File(s): \code\game\machinery\doors\brigdoors.dm
 -->
 <div class="item">
	<div class="itemLabel">
		Cell:
	</div>
	<div class="itemContent">
		{{:data.cell_id}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Occupant:
	</div>
	<div class="itemContent">
		{{:data.occupant}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Crimes:
	</div>
	<div class="itemContent">
		{{:data.crimes}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Brigged By:
	</div>
	<div class="itemContent">
		{{:data.brigged_by}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Time Brigged For:
	</div>
	<div class="itemContent">
		{{:data.time_set}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Time Left:
	</div>
	<div class="itemContent">
		{{:data.time_left}}
	</div>
</div>
{{if data.isAllowed}}
	<div class="item">
		<div class="itemLabel">
			Actions:
		</div>
		<div class="itemContent">
			{{:helper.link('Flash', 'flash', {'flash' : 1}, null, data.isAllowed ? '' : 'dsabled')}}	
			{{:helper.link('Release', null, {'release' : 1}, null, data.isAllowed ? '' : 'disabled')}}
		</div> 	
	</div>
	{{if !data.timing}}
		<h3>Inmate Information</h3>
		<div class="item">
			<div class="itemLabel">
				Name:
			</div>	
			<div class="itemContent">
				{{:helper.link('Set', 'pencil', {'prisoner_name' : 'input'})}} {{:data.prisoner_name}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Charge:
			</div>	
			<div class="itemContent">
				{{:helper.link('Set', 'pencil', {'prisoner_charge' : 'input'})}} {{:data.prisoner_charge}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Time (in minutes):
			</div>	
			<div class="itemContent">
				{{:helper.link('Set', 'pencil', {'prisoner_time' : 'input'})}} {{:data.prisoner_time}}
			</div>
		</div>
		{{:helper.link('Submit', null, {'set_timer' : 1}, null, data.isAllowed ? '' : 'disabled')}}
	{{/if}}
{{/if}}