<!-- 
Title: Brig Cell Management
Used In File(s): \code\game\machinery\computer\brigcells.dm
 -->
<div class="statusDisplay" style="overflow: auto;">
	<span id='maintable_data_archive'>
		<table style='width: 100%' id='maintable_data'>
			<thead>
				<tr>
					<th>Cell</th>
					<th>Occupant</th>
					<th>Crimes</th>
					<th>Brigged By</th>
					<th>Time Brigged For</th>
					<th>Time Left</th>
					<th>Release</th>
				</tr>
			</thead>
			<tbody>
				{{for data.cells}}
					<tr style={{:value.background}}>
						<td>{{:value.cell_id}}</td>
						<td>{{:value.occupant}}</td>
						<td>{{:value.crimes}}</td>
						<td>{{:value.brigged_by}}</td>
						<td>{{:value.time_set}}</td>
						<td>{{:value.time_left}}</td>
						<td>{{:helper.link('Release', null, {'release' : value.ref}, null, 'infoButton')}}</td>
					</tr>
				{{/for}}
			</tbody>
		</table>
	</span>
</div>