<h2>Broadcaster</h2>
<div class='item'>
  <div class='itemLabel'>Broadcasting jobs</div>
  <div class='itemContent'>{{:helper.link(data.broadcast_job ? "ENABLED" : "DISABLED", 'power-off', {'action' : 'toggle'})}}</div>
</div>
