{{if data.beaker}}
	<div class='item'>{{:helper.link('Eject Beaker and Clear Buffer', 'eject', {'eject': 1})}}</div>
	<div class='statusDisplay'>
		<h3>Add to buffer:</h3>
		{{for data.beaker_reagents}}
			<div class='line'>
				<div class='itemLabel'>{{:value.name}}, {{:value.volume}} units</div>
				{{:helper.link('Analyze', 'search', {'analyze': 1, 'desc': value.description, 'name': value.name})}}
				{{:helper.link('1', 'plus', {'add': value.id, 'amount': 1})}}
				{{:helper.link('5', 'plus', {'add': value.id, 'amount': 5})}}
				{{:helper.link('10', 'plus', {'add': value.id, 'amount': 10})}}
				{{:helper.link('All', 'plus', {'add': value.id, 'amount': value.volume})}}
				{{:helper.link('Custom', 'plus', {'addcustom': value.id})}}
			</div>
		{{/for}}
	</div>
	<div class='statusDisplay'>
		<h3>
			<div class='item'>
					Transfer to {{:helper.link(data.mode ? 'beaker' : 'disposal', 'arrows-h', {'toggle': 1})}}
			</div>
		</h3>
		{{for data.buffer_reagents}}
			<div class='line'>
				<div class='itemLabel'>{{:value.name}}, {{:value.volume}} units</div>
				{{:helper.link('Analyze', 'search', {'analyze': 1, 'desc': value.description, 'name': value.name})}}
				{{:helper.link('1', 'plus', {'remove': value.id, 'amount': 1})}}
				{{:helper.link('5', 'plus', {'remove': value.id, 'amount': 5})}}
				{{:helper.link('10', 'plus', {'remove': value.id, 'amount': 10})}}
				{{:helper.link('All', 'plus', {'remove': value.id, 'amount': value.volume})}}
				{{:helper.link('Custom', 'plus', {'removecustom': value.id})}}
			</div>
		{{/for}}
	</div>
	<div class='statusDisplay'>
		<h3>Containers:</h3>
		<div class='item'>
			{{if data.condi}}
				{{:helper.link('Create pack (10u max)', 'arrow-right', {'createpill': 1})}}
				{{:helper.link('Create bottle (50u max)', 'arrow-right', {'createbottle': 1})}}
			{{else}}
				<table>
					<tr>
						<td>
							{{:helper.link('Create pill (50u max)', 'arrow-right', {'createpill': 1})}}
						</td>
						<td>
							{{:helper.link('Multiple', 'arrow-right', {'createpill_multiple': 1})}}
						</td>
						<td>
							{{:helper.link('Style', 'pencil', {'change_pill': 1})}}
						</td>
						<td>
							<img src='pill{{:data.pillsprite}}.png'>
						</td>
					</tr>
					<tr>
						<td>
							{{:helper.link('Create patch (40u max)', 'arrow-right', {'createpatch': 1})}}
						</td>
						<td>
							{{:helper.link('Multiple', 'arrow-right', {'createpatch_multiple': 1})}}
						</td>
					</tr>
					<tr>
						<td>
							{{:helper.link('Create bottle (30u max)', 'arrow-right', {'createbottle': 1})}}
						</td>
					</tr>
				</table>
			{{/if}}
		</div>
	</div>
{{else}}
	<span class='item'>No beaker loaded</span><br>
{{/if}}
<span class='item'>
	{{if data.loaded_pill_bottle}}
		{{:helper.link('Pill Bottle (' + data.loaded_pill_bottle_contents_len + '/' + data.loaded_pill_bottle_storage_slots + ')', 'eject', {'ejectp': 1})}}
	{{else}}
		{{:helper.link('No Pill Bottle', 'eject', {}, 'disabled')}}
	{{/if}}
</span>