<!--
Title: Chem Dispenser 5000 UI
Used In File(s): \code\modules\reagents\Chemistry-Machinery.dm
 -->
<div class="item">
	<div class="itemLabel">
		Energy:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.energy, 0, data.maxEnergy, 'good', data.energy + ' Units')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Dispense:
	</div>
	<div class="itemContent">
		{{:helper.link('1', 'gear', {'amount' : 1}, (data.amount == 1) ? 'selected' : null)}}
		{{:helper.link('5', 'gear', {'amount' : 5}, (data.amount == 5) ? 'selected' : null)}}
		{{:helper.link('10', 'gear', {'amount' : 10}, (data.amount == 10) ? 'selected' : null)}}
		{{:helper.link('20', 'gear', {'amount' : 20}, (data.amount == 20) ? 'selected' : null)}}
		{{:helper.link('30', 'gear', {'amount' : 30}, (data.amount == 30) ? 'selected' : null)}}
		{{:helper.link('50', 'gear', {'amount' : 50}, (data.amount == 50) ? 'selected' : null)}}
	</div>
</div>
<div class="item">&nbsp;</div>
<div class="item">
	<div class="itemLabel" style="width: 100%;">
		{{if data.glass}}
			Drink Dispenser
		{{else}}
			Chemical Dispenser
		{{/if}}
	</div>
</div>
<div class="item">
	<div class="itemContentWide" style="width: 100%;">
		{{for data.chemicals}}
			{{:helper.link(value.title, 'arrow-circle-down', value.commands, null, data.glass ? 'fixedLeftWide' : 'fixedLeft')}}
		{{/for}}

	</div>
</div>
<div class="item">&nbsp;</div>
<div class="item">
	<div class="itemLabel">
		{{if data.glass}}
			Glass
		{{else}}
			Beaker
		{{/if}} Contents
	</div>
	<div class="itemContent">
		{{:helper.link(data.glass ? 'Eject Glass' : 'Eject Beaker', 'eject', {'ejectBeaker' : 1}, data.isBeakerLoaded ? null : 'disabled', 'floatRight')}}
	</div>
</div>
<div class="statusDisplay" style="min-height: 180px;">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
			{{if data.isBeakerLoaded}}
				{{if data.beakerCurrentVolume}}
					<span class="floatRight" style="width: 115px;"><b>Dispose:</b></span>
				{{/if}}
				<b>Volume:&nbsp;{{:data.beakerCurrentVolume}}&nbsp;/&nbsp;{{:data.beakerMaxVolume}}</b><br>
				{{for data.beakerContents}}
					<div style="min-height: 22px;">
						<div class="floatLeft">
							<span class="highlight">
								{{:value.volume}} units of {{:value.name}}
							</span>
						</div>
						<div class="floatRight">
							{{:helper.link('Isolate', null, {'remove' : value.id, 'removeamount' : -1})}}
							{{:helper.link('1', null, {'remove' : value.id, 'removeamount' : 1})}}
							{{:helper.link('5', null, {'remove' : value.id, 'removeamount' : 5})}}
							{{:helper.link('10', null, {'remove' : value.id, 'removeamount' : 10})}}
							{{:helper.link('ALL', null, {'remove' : value.id, 'removeamount' : value.volume})}}
						</div>
					</div>
					<div style="height:2px"></div> <!-- This is necessary to prevent the link margins from hitting each other and causing weird things to happen. It's essentialy a smaller <br> tag. -->
				{{empty}}
					<span class="bad">{{if data.glass}}Glass{{else}}Beaker{{/if}} is empty
					</span>
				{{/for}}
			{{else}}
				<span class="average"><i>
					No {{if data.glass}}Glass{{else}}Beaker{{/if}} loaded
				</i></span>
			{{/if}}
		</div>
	</div>
</div>
