<h1>HELLO</h1>

<form name="code" action="?src={{:data.src}}" method="get">
	<input type="hidden" name="src" value="{{:data.src}}">
	<input type="hidden" name="choice" value="fSubmit">

	<div class="item" style="width:80%">
		<textarea id="fSubmit" name="fSubmit">
			example code
		</textarea>
		{{:helper.cMirror("fSubmit")}}
	</div>
	<input type="submit" value="Compile" />
</form>
