<!--
Title: Waste Disposal Unit
Used In File(s): \code\modules\recycling\disposal.dm
-->
<div class="item">
	<div class="itemLabel">
		Pressure:
	</div>
	<div class="itemContent">
		{{:helper.smoothRound(data.pressure)}}%
	</div>
</div>
<h3>Controls</h3>
<div class="item">
	<div class="itemLabel">
		Disposal Handle:
	</div>
	<div class="itemContent">
		{{if data.isAI}}
			{{:helper.link('Engaged', 'gear', {'handle' : 1}, 'disabled')}}
			{{:helper.link('Disengaged', 'gear', {'handle' : 0}, 'disabled')}}
		{{else}}
			{{:helper.link('Engaged', 'gear', {'handle' : 1}, data.flushing ? 'selected' : '')}}
			{{:helper.link('Disengaged', 'gear', {'handle' : 0}, !data.flushing ? 'selected' : '')}}
		{{/if}}
	</div>
<div class="item">
	<div class="itemLabel">
		Pump:
	</div>
	<div class="itemContent">
		{{:helper.link('On', 'gear', {'pump' : 1}, data.mode > 0 ? 'selected' : '')}}
		{{:helper.link('Off', 'gear', {'pump' : 0}, data.mode <= 0 ? 'selected' : '')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Pump Status:
	</div>
	<div class="itemContent">
		{{:data.pumpstatus}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Contents:
	</div>
	<div class="itemContent">
		{{:helper.link('Eject', 'eject', {'eject' : 1}, data.isAI ? 'disabled' : '')}}
	</div>
</div>
</div>