<!--
Title: DNA Vault UI
Used In File(s): \code\modules\station_goals\dna_vault.dm
-->
<h3>DNA Vault Database</h3>
<div class="item">
	<div class="itemLabel">
		Human DNA:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.dna, 0, data.dna_max, data.dna >= data.dna_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.dna}}/{{:data.dna_max}} Samples
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Plant Data:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.plants, 0, data.plants_max, data.plants >= data.plants_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.plants}}/{{:data.plants_max}} Samples
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Animal Data:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.animals, 0, data.animals_max, data.animals >= data.animals_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.animals}}/{{:data.animals_max}} Samples
		</div>
	</div>
</div>
{{if data.completed && !data.used}}
<div class="item">
	<div class="itemLabel">
		Applicable gene therapy treatments:
	</div>
	<div class="itemContent">
		{{:helper.link(data.choiceA, null, {'gene' : 1, 'choice' : data.choiceA})}}
		{{:helper.link(data.choiceB, null, {'gene' : 1, 'choice' : data.choiceB})}}
	</div>
</div>
{{/if}}