	<div class='item'>
		<table style='width: 100%'>
		<tr>
			<td>Station Alert Level</td><td>{{:data.alert_level}}</td>
		</tr><tr>
			<td>ERT Type</td><TD>
				{{if data.ert_type == 'Code Amber'}} <font color='#FF7E00'> AMBER </font> {{else}} {{:helper.link('Amber', null, {"set_code": 'Code Amber'})}} {{/if}}
				{{if data.ert_type == 'Code Red'}} <font color='#DC143C'> RED </font>  {{else}} {{:helper.link('Red', null, {"set_code": 'Code Red'})}} {{/if}}
				{{if data.ert_type == 'Code Gamma'}} <font color='#DB7093'> GAMMA </font>  {{else}} {{:helper.link('Gamma', null, {"set_code": 'Code Gamma'})}} {{/if}}
			</td>
		</tr>
		</table>
	</div>
	<hr>
	<div class='item'>
	<table style='width: 100%'> 
		<tr><th>Department</th><th>Slots</th><th>Change Slots</th></tr>
		<tr><td>Command</td><td>{{if data.com == 0}}-{{else}}{{:helper.smoothRound(data.com)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_com": 0})}} 
			{{:helper.link('1', null, {"set_com": 1})}}</td></tr>
		<tr><td>Security</td><td>{{if data.sec == 0}}-{{else}}{{:helper.smoothRound(data.sec)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_sec": 0})}} 
			{{:helper.link('1', null, {"set_sec": 1})}}
			{{:helper.link('2', null, {"set_sec": 2})}}
			{{:helper.link('3', null, {"set_sec": 3})}}
			{{:helper.link('4', null, {"set_sec": 4})}}
			{{:helper.link('5', null, {"set_sec": 5})}}
		</td>
		<tr><td>Medical</td><td>{{if data.med == 0}}-{{else}}{{:helper.smoothRound(data.med)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_med": 0})}}
			{{:helper.link('1', null, {"set_med": 1})}}
			{{:helper.link('2', null, {"set_med": 2})}}
			{{:helper.link('3', null, {"set_med": 3})}}
			{{:helper.link('4', null, {"set_med": 4})}}
			{{:helper.link('5', null, {"set_med": 5})}}
		</td>
		<tr><td>Engineering</td><td>{{if data.eng == 0}}-{{else}}{{:helper.smoothRound(data.eng)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_eng": 0})}}
			{{:helper.link('1', null, {"set_eng": 1})}}
			{{:helper.link('2', null, {"set_eng": 2})}}
			{{:helper.link('3', null, {"set_eng": 3})}}
			{{:helper.link('4', null, {"set_eng": 4})}}
			{{:helper.link('5', null, {"set_eng": 5})}}
		</td>
		<tr><td>Paranormal</td><td>{{if data.par == 0}}-{{else}}{{:helper.smoothRound(data.par)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_par": 0})}}
			{{:helper.link('1', null, {"set_par": 1})}}
			{{:helper.link('2', null, {"set_par": 2})}}
			{{:helper.link('3', null, {"set_par": 3})}}
			{{:helper.link('4', null, {"set_par": 4})}}
			{{:helper.link('5', null, {"set_par": 5})}}
		</td>
		<tr><td>Janitor</td><td>{{if data.jan == 0}}-{{else}}{{:helper.smoothRound(data.jan)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_jan": 0})}}
			{{:helper.link('1', null, {"set_jan": 1})}}
			{{:helper.link('2', null, {"set_jan": 2})}}
			{{:helper.link('3', null, {"set_jan": 3})}}
			{{:helper.link('4', null, {"set_jan": 4})}}
			{{:helper.link('5', null, {"set_jan": 5})}}
		</td>
		<tr><td>{{if data.ert_type == 'Code Gamma'}}<font color='#DB7093'>GAMMA</font> {{/if}}Cyborg</td><td>{{if data.cyb == 0}}-{{else}}{{:helper.smoothRound(data.cyb)}}{{/if}}</td><td>
			{{:helper.link('0', null, {"set_cyb": 0})}}
			{{:helper.link('1', null, {"set_cyb": 1})}}
			{{:helper.link('2', null, {"set_cyb": 2})}}
			{{:helper.link('3', null, {"set_cyb": 3})}}
			{{:helper.link('4', null, {"set_cyb": 4})}}
			{{:helper.link('5', null, {"set_cyb": 5})}}
		</td></tr>
	</table>
	<BR>
	</div>
	<div class='item'>
		{{:helper.link('Dispatch', null, {"dispatch_ert": 1})}}
	</div>

