<!-- 
Title: Fax Machine UI 
Used In File(s): \code\modules\paperwork\faxmachine.dm
-->
<div class='item'>
  <h2>Authorization</h2>
</div>
<div class='item'>
	<div class='itemLabel'>
		Confirm identity:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.scan_name, 'eject', {'scan' : 1})}}
	</div>
</div>
<div class='item'>
	<div class='itemLabel'>
		Authorize:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.authenticated ? 'Log Out' : 'Log In', data.authenticated ? 'unlock' : 'lock', {'auth' : 1})}}
	</div>
</div>
<hr>
<div class='item'>
  <h2>Fax Menu</h2>
</div>
<div class="item">
	<div class='itemLabel'>
		Network:
	</div> 

	<div class='itemContent'>
		{{:data.network}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Currently sending:
	</div> 
	<div class='itemContent'>
		{{:helper.link(data.paper, 'eject', {'paper' : 1})}}
		{{if data.paperinserted}}
			{{:helper.link('Rename', 'pencil', {'rename' : 1})}}
		{{/if}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Sending to:
	</div> 
	<div class='itemContent'>
		{{:helper.link(data.destination, 'print', {'dept' : 1}, !data.authenticated ? 'disabled' : '')}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Action:
	</div>
	<div class="itemContent">
		{{if data.authenticated}}
			{{:helper.link(data.cooldown && data.respectcooldown ? "Realigning" : "Send", data.cooldown && data.respectcooldown ? 'clock-o' : "envelope-o", {'send' : 1}, data.cooldown && data.respectcooldown ? 'disabled' : "")}}
		{{else}}
			{{:helper.link(data.cooldown && data.respectcooldown ? "Realigning" : "Send", data.cooldown && data.respectcooldown ? 'clock-o' : "envelope-o", null, !data.authenticated ? 'disabled' : "")}}
		{{/if}}
	</div>
</div>