{{if data.error}}
	<h2>An error has occurred and this program can not continue.</h2>
	Additional information: {{:data.error}}<br>
	<i>Please try again. If the problem persists contact your system administrator for assistance.</i>
	{{:helper.link('Restart program', null, {'action' : 'PRG_closefile'})}}
{{else}}
	{{if data.filename}}
		<h2>Viewing file {{:data.filename}}</h2>
		<div class='item'>
		{{:helper.link('CLOSE', null, {'action' : 'PRG_closefile'})}}
		{{:helper.link('EDIT', null, {'action' : 'PRG_edit'})}}
		{{:helper.link('PRINT', null, {'action' : 'PRG_printfile'})}}
		</div><hr>
		{{:data.filedata}}
	{{else}}
		<h2>Available files (local):</h2>
		<div class='statusDisplay'>
			<table>
				<tr>
					<th>File name</th>
					<th>File type</th>
					<th>File size (GQ)</th>
					<th>Operations</th>
				</tr>
				{{for data.files}}
					<tr>
						<td>{{:value.name}}</td>
						<td>.{{:value.type}}</td>
						<td>{{:value.size}}GQ</td>
						<td>
							{{:helper.link('VIEW', 'eye', {'action' : 'PRG_openfile', 'name' : value.name})}}
							{{:helper.link('DELETE', 'trash', {'action' : 'PRG_deletefile', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{:helper.link('RENAME', 'pencil', {'action' : 'PRG_rename', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{:helper.link('CLONE', 'files-o', {'action' : 'PRG_clone', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{if !value.encrypted}}
								{{:helper.link('ENCRYPT', null, {'action' : 'PRG_encrypt', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{else}}
								{{:helper.link('DECRYPT', null, {'action' : 'PRG_decrypt', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{/if}}
							{{if data.usbconnected}}
								{{:helper.link('EXPORT', 'upload', {'action' : 'PRG_copytousb', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{/if}}
						</td>
					</tr>
				{{/for}}
			</table>
		</div>
		{{if data.usbconnected}}
			<h2>Available files (portable device):</h2>
			<div class='statusDisplay'>
				<table>
					<tr>
						<th>File name</th>
						<th>File type</th>
						<th>File size (GQ)</th>
						<th>Operations</th>
					</tr>
					{{for data.usbfiles}}
						<tr>
							<td>{{:value.name}}</td>
							<td>.{{:value.type}}</td>
							<td>{{:value.size}}GQ</td>
							<td>
								{{:helper.link('DELETE', 'trash', {'action' : 'PRG_usbdeletefile', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
								{{if data.usbconnected}}
									{{:helper.link('IMPORT', 'download', {'action' : 'PRG_copyfromusb', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
								{{/if}}
							</td>
						</tr>
					{{/for}}
				</table>
			</div>
		{{/if}}
		{{:helper.link('NEW DATA FILE', 'file-text', {'action' : 'PRG_newtextfile'})}}
	{{/if}}	
{{/if}}