<!-- 
Title: FireAlarm UI.
Used In File(s): \code\game\machinery\firealarm.dm
 -->
<div class="item">
    <div class="itemLabel">
        Fire Alarm
    </div>
    <div class="itemContent">
        {{:helper.link('Activated',   'lightbulb-o', {'alarm' : 1}, data.fire ? 'selected' : '')}}
        {{:helper.link('Deactivated', 'lightbulb-o', {'reset' : 1}, data.fire ? '' : 'selected')}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Security Level
    </div>
    <div class="itemContent">
        {{if data.sec_level == "green"}}
            <span class="good">Green</span>
        {{else data.sec_level == "blue"}}
            <span class="highlight">Blue</span>
        {{else data.sec_level == "red"}}
            <span class="bad">Red</span>
        {{else data.sec_level == "gamma"}}
            <span class="average">Gamma</span>
        {{else data.sec_level == "epsilon"}}
            <span class="bad"><b>Contracts terminated.</b></span>
        {{else data.sec_level == "delta"}}
            <span class="notice">Nuclear device primed.</span>
        {{else}}
            ERR: Unable to ascertain security level. Please see an authorized NT fire alarm technician.
        {{/if}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Timer System
    </div>
    <div class="itemContent">
        {{:helper.link('Initiate', 'play',  {'time': 1}, data.timing ? 'selected' : '')}}
        {{:helper.link('Stop',     'pause', {'time': 0}, data.timing ? '' : 'selected')}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Time Modifiers
    </div>
    <div class="itemContent">
        {{:helper.link('30', 'minus', {'tp': -30})}}
        {{:helper.link('1',  'minus', {'tp': -1 })}}
        {{:helper.link('1',  'plus',  {'tp': +1 })}}
        {{:helper.link('30', 'plus',  {'tp': +30})}}
    </div>
</div>

{{if data.timing}}
<div class="item">
    <div class="itemLabel">
        Time Left
    </div>
    <div class="itemContent">
        {{:data.time_left}}
    </div>
</div>
{{/if}}