<!--
Title: Helper Buddy UI
Used In File(s): \code\game\machinery\helperbuddy.dm
 -->
<div class="item">
  <h2>Hello! Welcome to Helper Buddy 3.0! Please select a Department to learn about, then select the Lesson!</h2>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:data.medbay}}
  </div>
</div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.basic, null, {'basic' : 1})}}
  </div>
</div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.chemistry, null, {'chemistry' : 1})}}
  </div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.morgue, null, {'morgue' : 1})}}
  </div>
</div>

<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.surgery, null, {'surgery' : 1})}}
  </div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.cloning, null, {'cloning' : 1})}}
  </div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.ressuscitation, null, {'ressucitation' : 1})}}
  </div>
</div>
</div>
<div class="item>"
  </div>
  <div class="itemContent">
    {{:helper.link(data.cryotubes, null, {'cryotubes' : 1})}}
  </div>
</div>
