<!-- 
Title: Keycard Authentication Device UI
Used In File(s): \code\modules\security_levels\keycard_authentication.dm
-->
<style type="text/css">	
	.event {
		font-size: 16px; 
		font-weight: bold;
		margin-bottom: 15px;
		text-align: center; 
	}
</style>
<div class="item">
	<h1>Keycard Authentication Device</h1>
	This device is used to trigger certain high security events. It requires the simultaneous swipe of two high-level ID cards.
	<div class="item">
		{{if data.screen == 1}}
			<h2>Trigger Event</h2>
			{{:helper.link('Red Alert', 'exclamation-triangle', { 'triggerevent' : 'Red Alert' })}}
			{{:helper.link('Emergency Response Team', 'exclamation-triangle', { 'triggerevent' : 'Emergency Response Team' })}}
			{{:helper.link('Grant Emergency Maintenance Access', 'unlock', { 'triggerevent' : 'Grant Emergency Maintenance Access' })}}
			{{:helper.link('Revoke Emergency Maintenance Access', 'lock', { 'triggerevent' : 'Revoke Emergency Maintenance Access' })}}
			{{:helper.link('Activate Station-Wide Emergency Access', 'unlock', { 'triggerevent' : 'Activate Station-Wide Emergency Access' })}}
			{{:helper.link('Deactivate Station-Wide Emergency Access', 'lock', { 'triggerevent' : 'Deactivate Station-Wide Emergency Access' })}}
		{{else data.screen == 2}}
			{{if data.event == 'Emergency Response Team'}}
				<div class="item">
					<div class="itemLabel">Reason for ERT Call:</div>
					<div class="itemContent">
						{{:helper.link(data.ertreason, 'exclamation-triangle', { 'ert' : 'callreason' })}}
					</div>
				</div>
			{{/if}}
			<h2 class="bad" style="text-align: center;">Please swipe your card to authorize the following event:</h2>
			<div class="event">{{:data.event}}</div>
			{{:helper.link('Back', 'close', { 'reset' : 1 })}}
		{{/if}}
	</div>
</div>