<!--
Title: Medical Records UI
Used In File(s): \code\game\machinery\computer\medical.dm
-->

<!--
#define MED_DATA_MAIN	1	// Main menu
#define MED_DATA_R_LIST	2	// Record list
#define MED_DATA_MAINT	3	// Records maintenance
#define MED_DATA_RECORD	4	// Record
#define MED_DATA_V_DATA	5	// Virus database
#define MED_DATA_MEDBOT	6	// Medbot monitor
-->

<div class="item">
	<div class="itemLabelNarrow">
		<b>Confirm Identity:</b>
	</div>
	<div class="itemContent">
		{{:helper.link(data.scan ? data.scan : "----------", 'eject', {'scan' : 1}, null, data.scan ? 'itemContentWide' : 'fixedLeft')}}
	</div>
</div>
<hr>
{{if data.authenticated}}
	{{if data.screen == 1}} <!-- MED_DATA_MAIN -->
		<h3>Menu</h3>
		<div class="item">
			<div class="line">{{:helper.link('Search Records', 'search', {'search' : 1})}}</div>
			<div class="line">{{:helper.link('List Records', 'list', {'screen' : 2})}}</div>
			<div class="line">{{:helper.link('Virus Database', 'database', {'screen' : 5})}}</div>
			<div class="line">{{:helper.link('Medbot Tracking', 'plus-square', {'screen' : 6})}}</div>
			<div class="line">{{:helper.link('Record Maintenance', 'wrench', {'screen' : 3})}}</div>
			<div class="line">{{:helper.link('Logout', 'lock', {'logout' : 1})}}</div>
		</div>
	{{else data.screen == 2}} <!-- MED_DATA_R_LIST -->
		<h3><center>Record List</center></h3>
		{{for data.records}}
			<div class="line">{{:helper.link(value.id + ': ' + value.name, 'user', {'d_rec' : value.ref})}}</div>
		{{/for}}
		<br><hr>
		<div class="line">{{:helper.link('Back', 'arrow-left', {'screen' : 1})}}</div>
	{{else data.screen == 3}} <!-- MED_DATA_MAINT -->
		<h3>Records Maintenance</h3>
		<div class="line">{{:helper.link('Backup To Disk', 'download', {'back' : 1}, 'disabled')}}</div>
		<div class="line">{{:helper.link('Upload From disk', 'upload', {'u_load' : 1}, 'disabled')}}</div>
		<div class="line">{{:helper.link('Delete All Records', 'trash', {'del_all' : 1})}}</div>
		<div class="line">{{:helper.link('Back', 'arrow-left', {'screen' : 1})}}</div>
	{{else data.screen == 4}} <!-- MED_DATA_RECORD -->
		<h3><center>Medical Record</center></h3>
		<h4><center>General Data</center></h4>
		{{if data.general.empty}}
			<span class="bad"><center>General Record Lost!</center></span>
		{{else}}
			<div class="statusDisplayRecords">
				<table style='width:100%'><tr>
					<td valign='top' style='margin-right: 300px;'>
						{{for data.general.fields}}
							<div class="item">
								<div class="itemLabel">{{:value.field}}</div>
								<div class="itemContent">{{:helper.link(value.value, value.edit ? 'pencil' : 'user-times', {'field' : value.edit}, value.edit ? null : 'disabled')}}</div>
							</div>
						{{/for}}
					</td>
					<td valign='middle' align='center' style='width: 300px;'>
						{{if data.general.has_photos}}
							{{for data.general.photos}}
								{{if value.photo}}
									<img src={{:value.photo}} height=96 width=96 border=5>
								{{/if}}
							{{/for}}
						{{/if}}
					</td>
				</tr></table>
			</div>
		{{/if}}
		
		<h4><center>Medical Data</center></h4>
		{{if data.medical.empty}}
			<span class="bad"><center>Medical Record Lost!</center></span>
			<div style="text-align: center;">
				<div style="display: inline-block;">{{:helper.link('New Record', 'plus', {'new' : 1})}}</div>
			</div>
			<h3><center>Menu</center></h3>
		{{else}}
			{{for data.medical.fields}}
				<div class="item">
					<div class="itemLabel">{{:value.field}}</div>
					<div class="itemContent">{{:helper.link(value.value, 'pencil', {'field' : value.edit})}}</div>
				</div>
				{{if value.line_break}}
					<br>
				{{/if}}
			{{/for}}
				
			<h4><center>Comments/Log</center></h4>
			{{for data.medical.comments}}
				<div class="line">{{:value}}</div>
				<div class="line">{{:helper.link('Remove entry', 'trash', {'del_c' : index})}}</div>
				<br><hr>
			{{/for}}
			
			<div style="text-align: center;">
				<div style="display: inline-block;">{{:helper.link('Add Entry', 'plus', {'add_c' : 1})}}</div>
			</div>
			
			<h3><center>Menu</center></h3>
			<div class="line">{{:helper.link('Delete Record (Medical Only)', 'trash', {'del_r' : 1})}}</div>
		{{/if}}
		
		<div class="line">{{:helper.link('Print Record', 'print', {'print_p' : 1})}}</div>
		<div class="line">{{:helper.link('Back', 'arrow-left', {'screen' : 2})}}</div>
	{{else data.screen == 5}} <!-- MED_DATA_V_DATA -->
		<h3><center>Virus Database</center></h3>
		{{for data.virus}}
			<div class="line">{{:helper.link(value.name, 'arrow-right', {'vir' : value.D})}}</div>
		{{/for}}
		<br><hr>
		{{:helper.link('Back', 'arrow-left', {'screen' : 1})}}
	{{else data.screen == 6}} <!-- MED_DATA_MEDBOT -->
		<h3><center>Medical Robot Monitor</center></h3>
		{{for data.medbots}}
			<h4>{{:value.name}}</h4>
			<div class="item">
				<div class="itemLabel">Location:</div>
				<div class="itemContent">{{:value.x}}, {{:value.y}}</div>
			</div>
			<div class="item">
				<div class="itemLabel">Status:</div>
				<div class="itemContent">
					{{:value.on ? "<span class='good'>Online</span>" : "<span class='average'>Offline</span>"}}. {{if value.use_beaker}}Reservoir: [{{:value.total_volume}}/{{:value.maximum_volume}}]{{else}}Using internal synthesizer.{{/if}}
				</div>
			</div>
			<hr>
		{{empty}}
			<h4 class="bad"><center>None detected!</center></h4>
		{{/for}}
		<div class="line">{{:helper.link('Back', 'arrow-left', {'screen' : 1})}}</div>
	{{/if}}
{{else}}
	<h3>Menu</h3>
	{{:helper.link('Login', 'unlock', {'login' : 1})}}
{{/if}}

{{if data.temp}}
	<div class="mask" style="display: table;">
		<div class="maskContent" style="margin: 0px; vertical-align: middle; align:center; display: table-cell;">
			{{if data.temp.notice}}
				<div class="notice"><center>{{:data.temp.text}}</center></div>
			{{else}}
				<center>{{:data.temp.text}}</center>
			{{/if}}

			
			{{if data.temp.has_buttons}}
				<div class="line">
					<div style="display: inline-block;">
						<div style="width: 500px; display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center;">
							{{for data.temp.buttons}}
								{{:helper.link(value.name, value.icon, {'temp' : 1, 'temp_action' : value.href}, value.status)}}
							{{/for}}
						</div>
					</div>
				</div>
			{{/if}}
			
			<div style="display: inline-block;">
				<div class="item">{{:helper.link('Clear screen', 'home', {'temp' : 1})}}</div>
			</div>
		</div>
	</div>
{{/if}}