<!--
Title: PDA UI
Used In File(s): \code\game\objects\items\devices\PDA\PDA.dm
 -->
{{if data.useRetro}}
	<head>
		<style type="text/css">
			html {
				height: 100%; 
				overflow: auto;
			}

			.mainBG {
				background: #6F7961;
			}

			.itemLabelNarrow, .itemLabel, .itemLabelWide, .itemLabelWider, .itemLabelWidest {
				color: #000000;
				font-weight: bold;
			}

			.good {
				color: #444444;
			}
			
			.average {
				color: #222222;
			}
			
			.bad {
				color: #333333;
			}
			
			.pdanote {
				color: #777777;
			}

			.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton {
				color: #000000;
				background: #565D4B;
			}

			.pdalink, .pdalink.disabled {
				min-width: 15px;
				height: 16px;
				text-align: center;
				color: #000000;
				text-decoration: none;
				background: #565D4B;
				border: 1px solid #161616;
				padding: 0px 4px 4px 4px;
				margin: 0 2px 2px 0;
				cursor: default;
				white-space: nowrap;
			}
			
			.pdalink.disabled {
				color: #333;
				background: #565D4B;
			}
			
			#pdaFooter {
				background: #6F7961;
			}
			
			.pdaFooterButton {
				background: none;
				color: #000;
			}
			.pdaFooterButton.disabled {
				color: #444 !important;
			}
			
			div.clock {
				color: black;
			}
			
			h1, h2, h3, h4, h5, h6 {
				color: #000000;
			}

			.fixedLeft, .fixedLeftWide, .fixedLeftWider, .fixedLeftWidest, .floatRight {
				color: #000000;
			}
			
			.floatRight {
				min-width: 15px;
				height: 16px;
				text-align: center;
				background: #565D4B;
				border: 1px solid #161616;
				padding: 0px 4px 4px 4px;
				margin: 0 2px 2px 0;
			}
			
			.uiIcon16 {
				background-image: none;
				float: left;
				width: auto;
				height: auto;
				margin: 0 0 0 0;
			}
			
			#uiTitleText, #pdaFooter {
				color: #000000;
			}
			
			.pmon {
				background: black;
			}
			
			.itemLabel {
				color: black;
			}
			
			.statusDisplayRecords .good, .statusDisplay .good {
				color: #020;
			}
			
			.statusDisplayRecords .average, .statusDisplay .average {
				color: #110;
			}
		</style>
	</head>
{{/if}}
{{if data.owner}}
	<div class="item">
        <div class="floatLeft">
			{{if data.idInserted}}
				{{:helper.link(data.idLink, 'eject', {'choice' : "Authenticate"}, null, 'pdalink fixedLeftWide')}}
			{{/if}}
			{{if data.cartridge_name}}
				{{:helper.link(data.cartridge_name, 'eject', {'choice' : "Eject"}, null, 'pdalink fixedLeftWidest')}}
			{{/if}}
			{{:helper.link('Toggle R.E.T.R.O. mode', 'gear', {'choice': "Retro"}, null, 'pdalink fixedLeftWide')}}
		</div>
		<div class="clock">
			{{:data.stationTime}}
		</div>
	</div>

	{{if data.app}}
		<h2><i class="fa fa-{{:data.app.icon}}"></i>&nbsp;{{:data.app.name}}</h2>
		<div id="uiApp"></div>
		<div class="pdaFooterButton disabled">&nbsp;</div>
	{{/if}}
	
	<div id="pdaFooter">
		{{:helper.link("", 'undo', {'choice' : "Back"}, data.app.has_back ? null : 'disabled', 'link pdaFooterButton')}}
		{{:helper.link("", 'home', {'choice' : "Home"}, data.app.is_home ? 'disabled' : null, 'link pdaFooterButton')}}
	</div>
{{else}}
    <div class="wholeScreen">
        <br><br><br><br><br><br><br>No Owner information found, please swipe ID
    </div>
{{/if}}