<!--
Title: PDA Remote Signaller UI
Used In File(s): \code\game\objects\items\devices\PDA\cart_apps.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Frequency</b>:
	</div>
	<div class="itemContent">
		{{:data.signal_freq}}
		<br>
		&nbsp;
		{{:helper.link('-1', null, {'choice' : "Signal Frequency", 'sfreq' : "-10"}, null, null)}}&nbsp;
		{{:helper.link('-.2', null, {'choice' : "Signal Frequency", 'sfreq' : "-2"}, null, null)}}&nbsp;

		{{:helper.link('+.2', null, {'choice' : "Signal Frequency", 'sfreq' : "2"}, null, null)}}&nbsp;
		{{:helper.link('+1', null, {'choice' : "Signal Frequency", 'sfreq' : "10"}, null, null)}}
	</div>
</div>
<br>
<br>
<div class="item">
	<div class="itemLabel">
			<b>Code</b>:
	</div>
	<div class="itemContent">
		<span class="average">
			{{:data.signal_code}}<br>
		</span>
		{{:helper.link('-5', null, {'choice' : "Signal Code", 'scode' : "-5"}, null, null)}}
		{{:helper.link('-1', null, {'choice' : "Signal Code", 'scode' : "-1"}, null, null)}}
		{{:helper.link('+1', null, {'choice' : "Signal Code", 'scode' : "1"}, null, null)}}
		{{:helper.link('+5', null, {'choice' : "Signal Code", 'scode' : "5"}, null, null)}}
	</div>
</div>
<div class="item">
	{{:helper.link('Send Signal', 'exclamation-circle', {'choice' : "Send Signal"}, null, null)}}
</div>