<!--
Title: PDA Atmospheric Scanner UI
Used In File(s): \code\game\objects\items\devices\PDA\cart_apps.dm
 -->
<div class="statusDisplay" style="height: 250px; overflow: auto;">
	<div class="item">
		{{if data.aircontents.reading == 1}}
			<div class="itemLabel">
				<span class="pdanote">Pressure:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1} kPa</span>', data.aircontents.pressure < 80 || data.aircontents.pressure > 120 ? 'bad' : data.aircontents.pressure < 95 || data.aircontents.pressure > 110 ? 'average' : 'good', helper.smoothRound(data.aircontents.pressure, 1))}}
			</div>
			<div class="itemLabel">
				<span class="pdanote">Temperature:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1} &deg;C</span>', data.aircontents.temp < 5 || data.aircontents.temp > 35 ? 'bad' : data.aircontents.temp < 15 || data.aircontents.temp > 25 ? 'average' : 'good' , helper.smoothRound(data.aircontents.temp, 1))}}
			</div>
			<br>
			<div class="itemLabel">
				<span class="pdanote">Oxygen:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.oxygen < 17 ? 'bad' : data.aircontents.oxygen < 19 ? 'average' : 'good', helper.smoothRound(data.aircontents.oxygen, 1))}}
			</div>
			<div class="itemLabel">
				<span class="pdanote">Nitrogen:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.nitrogen > 82 ? 'bad' : data.aircontents.nitrogen > 80 ? 'average' : 'good', helper.smoothRound(data.aircontents.nitrogen, 1))}}
			</div>
			<div class="itemLabel">
				<span class="pdanote">Carbon Dioxide:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.carbon_dioxide > 5 ? 'bad' : 'good', helper.smoothRound(data.aircontents.carbon_dioxide, 1))}}
			</div>
			<div class="itemLabel">
				<span class="pdanote">Plasma:</span>
			</div>
			<div class = "itemContent">
				{{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.plasma  > 0 ? 'bad' : 'good', helper.smoothRound(data.aircontents.plasma, 1))}}

			</div>
			{{if data.aircontents.other > 0}}
				<div class="itemLabel">
					<span class="pdanote">Unknown:</span>
				</div>
				<div class = "itemContent">
					<span class="bad">{{:helper.smoothRound(data.aircontents.other, 1)}}%</span>
				</div>
			{{/if}}
		{{else}}
			<div class="itemContent" style="width: 100%;">
				<span class="average"><b>Unable to get air reading</b></span>
			</div>
		{{/if}}
	</div>
</div>