<div class="statusDisplay">
	<div class="item">
		<span class="good">Current Location:</span>
		{{if data.janitor.user_loc.x == 0}}
			<span class="bad">Unknown</span>
		{{else}}
			<span class="average"> {{:data.janitor.user_loc.x}} / {{:data.janitor.user_loc.y}}</span>
		{{/if}}
	</div>
		<div class="item">
			{{for data.janitor.mops}}
				{{if value.x==0}}
					<span class="bad">Unable to locate Mop</span>
				{{else}}
					<span class="good">Mop Location:</span>
					<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Status: {{:value.status}}</span><br>
				{{/if}}
			{{/for}}
		</div>
	<div class="item">
		{{for data.janitor.buckets}}
			{{if value.x==0}}
				<span class="bad">Unable to locate Water Buckets</span>
			{{else}}
				<span class="good">Water Buckets Location:</span>
				<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Water Level: {{:value.status}}</span><br>
			{{/if}}
		{{/for}}
	</div>
	<div class="item">
		{{for data.janitor.cleanbots}}
			{{if value.x==0}}
				<span class="bad">Unable to locate Clean Bots</span>
			{{else}}
				<span class="good">Clean Bots Location:</span>
				<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Status: {{:value.status}}</span><br>
			{{/if}}
		{{/for}}
	</div>
		<div class="item">
		{{for data.janitor.carts}}
			{{if value.x==0}}
				<span class="bad">Unable to locate Janitorial Cart</span>
			{{else}}
				<span class="good">Janitorial cart Location:</span>
				<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Status: {{:value.status}}</span><br>
			{{/if}}
		{{/for}}
	</div>
</div>