<!--
Title: PDA Home UI
Used In File(s): \code\game\objects\items\devices\PDA\core_apps.dm
 -->

<script>
	/* flash notify icons */
	var notifications = [];
	var noteTimer;
	function mm_flashNotify() {
		notifications.forEach(function(n) {
			if(n.item.hasClass("fa-"+n.icon)) {
				n.item.removeClass("fa-"+n.icon).addClass("fa-"+n.notifyIcon);
			} else {
				n.item.removeClass("fa-"+n.notifyIcon).addClass("fa-"+n.icon);
			}
		});
	}
	if(!noteTimer) {
		noteTimer = window.setInterval(mm_flashNotify, 1000);
	}
</script>

<div class="item">
	<div class="itemLabelNarrow">
		Owner:
	</div>
	<div class="itemContent">
		<span class="average">{{:data.owner}}, {{:data.ownjob}}</span>
	</div>
</div>
<div class="item">
	<div class="itemLabelNarrow">
		ID:
	</div>
	<div class="itemContent">
		{{:helper.link('Update PDA Info', 'refresh', {'choice' : "UpdateInfo"}, data.idInserted ? null : 'disabled', 'pdalink fixedLeftWide')}}
	</div>
</div>

<div class="item">
	<H2>Functions</H2>
</div>
{{for data.categories : cat : i}}
	<div class="item mainmenu">
		<div class="itemLabelNarrow">
			<b>{{:cat}}</b>:
		</div>
		<div class="itemContent">
			{{for data.apps[cat]}}
				{{if value.ref in data.notifying}}
					<div data-notify="{{:value.ref}}">
						{{:helper.link(value.name, value.notify_icon, {'choice' : "StartProgram", 'program' : value.ref}, null, 'pdalink fixedLeftWide')}}
					</div>
					<script>
						notifications.push({item: $("[data-notify='{{:value.ref}}'] i"), icon: '{{:value.icon}}', notifyIcon: '{{:value.notify_icon}}'});
					</script>
				{{else}}
					{{:helper.link(value.name, value.icon, {'choice' : "StartProgram", 'program' : value.ref}, null, 'pdalink fixedLeftWide')}}
				{{/if}}
			{{/for}}
		</div>
	</div>
{{/for}}

{{if data.pai}}
	<div class="item">
		<div class = "itemLabelNarrow">
			<b>PAI Utilities</b>:
		</div>
		<div class = "itemContent">
			{{:helper.link('Configuration', 'gear', {'choice' : "pai", 'option' : "1"}, null, 'pdalink fixedLeft')}}
			{{:helper.link('Eject pAI', 'eject', {'choice' : "pai", 'option' : "2"}, null, 'pdalink fixedLeft')}}
		</div>
	</div>
{{/if}}