{{if !data.mulebot.active}}
	{{if data.mulebot.count == 0}}
		<H1><span class="bad">No bots found.</span></H1>
	{{else}}
		<div class="item">
			Select a MULE:
		</div>
		<br>
		{{for data.mulebot.bots}}
			<div class="item">
				 {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, 'pdalink fixedLeftWidest')}} (Location: {{:value.Location}})
			</div>
		{{/for}}
	{{/if}}
	<br>
	{{:helper.link('Scan for Bots','rss', {'radiomenu' : "1", 'op' : "scanbots"}, null, 'pdalink fixedLeftWidest')}}
{{else}}
	<H1><span class="average">{{:data.mulebot.active}}</span></H1>
	{{if data.mulebot.botstatus.mode == -1}}
		<H1><span class="bad">Waiting for response...</span></H1>
	{{else}}
		<H1><span class="good">Status:</span></H1>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Location:</span>
			</div>
			<div class="itemContent">
				<span class="average">{{:data.mulebot.botstatus.loca}}</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Mode:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{if data.mulebot.botstatus.mode == 0}}
						Ready
					{{else data.mulebot.botstatus.mode == 1}}
						Loading/Unloading
					{{else data.mulebot.botstatus.mode == 2}}
						Navigating to Delivery Location
					{{else data.mulebot.botstatus.mode == 3}}
						Navigating to Home
					{{else data.mulebot.botstatus.mode == 4}}
						Waiting for Clear Path
					{{else data.mulebot.botstatus.mode == 5 || data.mulebot.botstatus.mode == 6}}
						Calculating navigation Path
					{{else data.mulebot.botstatus.mode == 7}}
						Unable to locate destination
					{{/if}}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Current Load:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{:helper.link(data.mulebot.botstatus.load == null ? 'None (Unload)' : data.mulebot.botstatus.load + ' (Unload)', 'archive', {'radiomenu' : "1", 'op' : "unload"},data.mulebot.botstatus.load == null ? 'disabled' : null, 'pdalink fixedLeftWidest')}}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Power:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{:data.mulebot.botstatus.powr}}%
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Destination:</span>
			</div>
			<div class="itemContent">
				{{:helper.link(data.mulebot.botstatus.dest == null || data.mulebot.botstatus.dest == "" ? 'None (Set)' : data.mulebot.botstatus.dest + ' (Set)', 'gear', {'radiomenu' : "1", 'op' : "setdest"}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Home:</span>
			</div>
			<div class="itemContent">
				{{if data.mulebot.botstatus.home == null}} None {{else}} {{:data.mulebot.botstatus.home}} {{/if}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Auto Return:</span>
			</div>
			<div class="itemContent">
			   {{:helper.link(data.mulebot.botstatus.retn == 1 ? 'ON' : 'OFF', 'gear', {'radiomenu' : "1", 'op' : (data.mulebot.botstatus.retn==1 ? "retoff" : "reton")}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Auto Pickup:</span>
			</div>
			<div class="itemContent">
				{{:helper.link(data.mulebot.botstatus.pick==1? 'ON' : 'OFF', 'gear', {'radiomenu' : "1", 'op' : (data.mulebot.botstatus.pick==1 ? "pickoff" : "pickon")}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Functions:</span>
			</div>
			<div class="itemContent">
				{{:helper.link('Stop', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, 'pdalink fixedLeft')}}
				{{:helper.link('Proceed', 'gear', {'radiomenu' : "1", 'op' : "start"}, null, 'pdalink fixedLeft')}}
				{{:helper.link('Return Home', 'gear', {'radiomenu' : "1", 'op' : "home"}, null, 'pdalink fixedLeft')}}
			</div>
		</div>
	{{/if}}
{{/if}}