<!--
Title: PDA Status Display UI
Used In File(s): \code\game\objects\items\devices\PDA\cart_apps.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Code</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('Clear', 'trash', {'choice' : "Status", 'statdisp' : "blank"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Shuttle ETA', 'gear', {'cartmenu' : "1", 'choice' : "Status", 'statdisp' : "shuttle"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Message', 'gear', {'choice' : "Status", 'statdisp' : "message"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>
<br>
<div class="item">
	<div class="itemLabel">
		<b>Message line 1</b>
	</div>
	<div class="itemContent">
		{{:helper.link(data.records.message1 + ' (set)', 'pencil', {'choice' : "Status", 'statdisp' : "setmsg1"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		<b>Message line 2</b>
	</div>
	<div class="itemContent">
		{{:helper.link(data.records.message2 + ' (set)', 'pencil', {'choice' : "Status", 'statdisp' : "setmsg2"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>

<br>
<div class="item">
	<div class="itemLabel">
		<b> ALERT!</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('None', 'bell', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "default"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Red Alert', 'bell', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "redalert"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Lockdown', 'exclamation-circle', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "lockdown"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Biohazard', 'exclamation-circle', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "biohazard"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>