<!--
Title: PDA Notekeeper UI
Used In File(s): \code\game\objects\items\devices\PDA\apps.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Notes</b>:
	</div>
</div>
<div class="statusDisplayRecords">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
				<span class="pdanote">{{:data.note}}</span>
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		{{:helper.link('Edit Notes', 'pencil-square-o', {'choice': "Edit"}, null, 'pdalink')}}
	</div>
</div>