<div class="item">
	<div class="itemLabelNarrow">
		Location:
	</div>
	<div class="itemContent">
		<span class="average">
			{{if data.supply.shuttle_moving}}
				Moving to {{:data.supply.shuttle_loc}}
			{{else}}
				Shuttle at {{:data.supply.shuttle_loc}}
			{{/if}}
			<br>
			{{:data.supply.shuttle_time}}
		</span>
	</div>
</div>
<div class="statusDisplayRecords">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
			<span class="good"><B>Current Approved Orders</B></span><br>
			{{if data.supply.approved_count == 0}}
				<span class="average pdanote">No current approved orders </span><br><br>
			{{else}}
				{{for data.supply.approved}}
					<span class="average">#{{:value.Number}} - {{:value.Name}} approved by {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
				{{/for}}
			{{/if}}
			<br><br>
			<span class="good"><B>Current Requested Orders</B></span><br>
			{{if data.supply.requests_count == 0}}
					<span class="average pdanote">No current requested orders</span><br><br>
			{{else}}
				{{for data.supply.requests}}
					<span class="average">#{{:value.Number}} - {{:value.Name}} requested by {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
				{{/for}}
			{{/if}}
		</div>
	</div>
</div>