<div class="statusDisplay">
	<div class="item">
		<span class="good">Current Location:</span>
		{{if data.janitor.user_loc.x == 0}}
			<span class="bad">Unknown</span>
		{{else}}
			<span class="average"> {{:data.janitor.user_loc.x}} / {{:data.janitor.user_loc.y}}</span>
		{{/if}}
	</div>
		<div class="item">
			{{if data.janitor.mops}}
				<span class="good">Mop Locations:</span>
				<ul>
					{{for data.janitor.mops}}
						<li>
							<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Status: {{:value.status}}</span>
						</li>
					{{/for}}
				</ul>
			{{else}}
				<span class="bad">Unable to locate Mops</span>
			{{/if}}
		</div>
	<div class="item">
		{{if data.janitor.buckets}}
			<span class="good">Mop Bucket Locations:</span>
			<ul>
				{{for data.janitor.buckets}}
					<li>
						<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Capacity: {{:value.volume}}/{{:value.max_volume}}</span>
					</li>
				{{/for}}
			</ul>
		{{else}}
			<span class="bad">Unable to locate Mop Buckets</span>
		{{/if}}
	</div>
	<div class="item">
		{{if data.janitor.cleanbots}}
			<span class="good">Cleanbot Locations:</span>
			<ul>
				{{for data.janitor.cleanbots}}
					<li>
						<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Status: {{:value.status}}</span>
					</li>
				{{/for}}
			</ul>
		{{else}}
			<span class="bad">Unable to locate Cleanbots</span>
		{{/if}}
	</div>
	<div class="item">
		{{if data.janitor.carts}}
			<span class="good">Janitorial Cart Locations:</span>
			<ul>
				{{for data.janitor.carts}}
					<li>
						<span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Water Level: {{:value.volume}}/{{:value.max_volume}}</span>
					</li>
				{{/for}}
			</ul>
		{{else}}
			<span class="bad">Unable to locate Janitorial Carts</span>
		{{/if}}
	</div>
</div>
