<!-- 
Title: Pool Controller UI.
Used In File(s): \code\game\machinery\poolcontroller.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Current Temperature</b>: 
	</div>
	<div class="itemContent">
		<font color={{:data.TempColor}}>{{:data.currentTemp}}</font>
	</div>
	{{if data.linkedfalls >= 1}}
		<div class="itemLabel">
			<b>Waterfall Status</b>:
		</div>
		<div class="itemContent">
			<font color="#00FFFF">{{:data.wfallstatus}}</font>
		</div>
		<div class="itemLabel">
			<b>Linked Waterfalls</b>:
		</div>
		<div class="itemContent">
			<font color="#00FFFF">{{:data.linkedfalls}}</font>
		</div>
	{{/if}}
</div>
<div class="item">
	<div class="itemContent">
		{{if data.emagged}}
			<b><font color='red'>WARNING: SAFE MODE OVERRIDE</font></b>
		{{else}}
			<b><font color='green'>Safeties Nominal</font></b>
		{{/if}}
	</div>
</div>
<div class="item">
	<div class="itemContent">
		<b>Temperature Selection</b>:
	</div>
	{{if data.emagged}}
		<div class="itemContentWide" style="width: 100%;">
			{{:helper.link('Scalding', 'circle-arrow-n', { 'temp' : 'Scalding' })}}
		</div>
	{{/if}}
	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Warm', 'circle-arrow-n', { 'temp' : 'Warm' })}}
	</div>
	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Normal', 'circle-arrow-e', { 'temp' : 'Normal' })}}
	</div>
	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Cool', 'circle-arrow-s', { 'temp' : 'Cool' })}}
	</div>
	{{if data.emagged}}
		<div class="itemContentWide" style="width: 100%;">
			{{:helper.link('Frigid', 'circle-arrow-s', { 'temp' : 'Frigid' })}}
		</div>
	{{/if}}
</div>
{{if data.linkedfalls >= 1}}
<div class="item">
	<div class="itemContent">
		<b>Waterfall Settings</b>:
	</div>
	<div class="itemContentWide" style="width: 100%">
		{{:helper.link('Turn Waterfalls On', 'circle-triangle-s', { 'WFtoggle' : 'wfallon' })}}
	</div>
	<div class="itemContentWide" style="width: 100%">
		{{:helper.link('Turn Waterfalls Off', 'circle-triangle-n', { 'WFtoggle' : 'wfalloff' })}}
	</div>
</div>
{{/if}}