{{if data.menu > 0}}
	<div class='item'>
		{{:helper.link('Main Menu', 'reply', {'menu': 0, 'submenu': 0})}}
		{{if data.submenu > 0}}
			{{if data.menu == 2}}
				{{:helper.link('Disk Operations Menu', 'reply', {'submenu': 0})}}
			{{else data.menu == 4}}
				{{:helper.link('Protolathe Menu', 'reply', {'submenu': 0})}}
			{{else data.menu == 5}}
				{{:helper.link('Circuit Imprinter Menu', 'reply', {'submenu': 0})}}
			{{else data.menu == 6}}
				{{:helper.link('Settings Menu', 'reply', {'submenu': 0})}}
			{{/if}}
		{{else data.menu == 4 || data.menu == 5}}
			{{:helper.link('Material Storage', 'arrow-up', {'submenu': 2})}}
			{{:helper.link('Chemical Storage', 'arrow-up', {'submenu': 3})}}
		{{/if}}
	</div>
{{/if}}
<div class='statusDisplay'>
	{{if data.menu == 0}}
		<h3>Main Menu:</h3>
		<div class='line'>{{:helper.link('Disk Operations', 'save', {'menu': 2, 'submenu': 0}, data.disk_type ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Destructive Analyzer Menu', 'chain-broken', {'menu': 3, 'submenu': 0}, data.linked_destroy ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Protolathe Menu', 'print', {'menu': 4, 'submenu': 0}, data.linked_lathe ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Circuit Imprinter Menu', 'print', {'menu': 5, 'submenu': 0}, data.linked_imprinter ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Settings', 'gear', {'menu': 6, 'submenu': 0})}}</div>
		<br>
		<br>
		Current Research Levels:
		{{for data.tech_levels}}
		<div class='line'><div class='itemLabel'>{{:value.name}}:</div>{{:value.level}}</div>
		{{/for}}
	{{else data.menu == 1}}
		<h3>Current Research Levels:</h3>
		{{for data.tech_levels}}
			{{if index > 0}}
				<hr>
			{{/if}}
			<div class='line'>{{:value.name}}</div>
			<div class='line'>* Level: {{:value.level}}</div>
			<div class='line'>* Summary: {{:value.desc}}</div>
		{{/for}}
	{{else data.menu == 2 && data.disk_type}}
		{{if data.submenu == 0}}
			<h3>Data Disk Contents:</h3>
			{{if data.disk_data}}
				{{if data.disk_type == 1}}
					<div class='line'>Name: {{:data.disk_data.name}}</div>
					<div class='line'>Level: {{:data.disk_data.level}}</div>
					<div class='line'>Description: {{:data.disk_data.desc}}</div>
					{{:helper.link('Upload to Database', 'arrow-up', {'updt_tech': 1})}}
					{{:helper.link('Clear Disk', 'trash', {'clear_tech': 1})}}
				{{else}}
					<div class='line'>Name: {{:data.disk_data.name}}</div>
					<div class='line'>
						{{for data.disk_data.lathe_types}}
							{{if index == 0}}
								Lathe Types: 
							{{else}}
								, 
							{{/if}}
							{{:value}}
						{{/for}}
					</div>
					<div class'line'>Required Materials:</div>
					{{for data.disk_data.materials}}
						<div class='line'>{{:value.name}} x {{:value.amount}}</div>
					{{/for}}
					{{:helper.link('Upload to Database', 'arrow-up', {'updt_design': 1})}}
					{{:helper.link('Clear Disk', 'trash', {'clear_design': 1})}}
				{{/if}}
			{{else}}
				<div class='line'>This disk is empty.</div>
				{{:helper.link(data.disk_type == 1 ? 'Load Tech to Disk' : 'Load Design to Disk', 'arrow-down', {'submenu': 1})}}
			{{/if}}
			{{:helper.link('Eject Disk', 'eject', data.disk_type == 1 ? {'eject_tech': 1} : {'eject_design': 1})}}
		{{else data.submenu == 1}}
			{{for data.to_copy}}
				<div class='line'>
					<div class='itemLabel'>{{:value.name}}</div>
					{{:helper.link('Copy to Disk', 'arrow-down', data.disk_type == 1 ? {'copy_tech': 1, 'copy_tech_ID': value.id} : {'copy_design': 1, 'copy_design_ID': value.id})}}
				</div>
			{{/for}}
		{{/if}}
	{{else data.menu == 3 && !data.linked_destroy}}
		NO DESTRUCTIVE ANALYZER LINKED TO CONSOLE
	{{else data.menu == 4 && !data.linked_lathe}}
		NO PROTOLATHE LINKED TO CONSOLE
	{{else data.menu == 5 && !data.linked_imprinter}}
		NO CIRCUIT IMPRITER LINKED TO CONSOLE
	{{else data.menu == 3}}
		{{if !data.loaded_item}}
			No item loaded. Standing by...
		{{else}}
			<h3>Deconstruction Menu:</h3>
			<div class='line'>Name: {{:data.loaded_item.name}}</div>
			<h3>Origin Tech:</h3>
			{{for data.loaded_item.origin_tech}}
				<div class='item'>
					<div class='itemLabelWide'>* {{:value.name}}:</div>
					<div class='itemLabelNarrow'>
						{{:value.object_level}} 
						{{if value.current_level}}
							(Current: {{:value.current_level}})
						{{/if}}
					</div>
				</div>
			{{/for}}
			<h3>Options:</h3>
			{{:helper.link('Deconstruct Item', 'chain-broken', {'deconstruct': 1})}}
			{{:helper.link('Eject Item', 'eject', {'eject_item': 1})}}
		{{/if}}
	{{else data.menu == 4 || data.menu == 5}}
		{{if data.submenu == 0}}
			<h3>{{:(data.menu == 4 ? 'Protolathe' : 'Circuit Imprinter')}} Menu:</h3>
		{{else data.submenu == 1}}
			<h3>{{:data.category}}:</h3>
		{{else data.submenu == 2}}
			<h3>Material Storage:</h3>
		{{else data.submenu == 3}}
			<h3>Chemical Storage:</h3>
		{{/if}}
		
		{{if data.submenu < 2}}
			<div class='itemLabelWidest'><table>
				<tr>
					<td><b>Material Amount:</b></td><td>{{:data.total_materials}}</td>
					{{if data.max_materials}}
						<td> / {{:data.max_materials}}</td>
					{{/if}}
				</tr>
				<tr>
					<td><b>Chemical Amount:</b></td><td>{{:data.total_chemicals}}</td>
					{{if data.max_chemicals}}
						<td> / {{:data.max_chemicals}}</td>
					{{/if}}
				</tr>
			</table></div>
		{{/if}}
		
		{{if data.submenu == 0}}
			<form action='byond://'>
				<input type='hidden' name='src' value='{{:data.src_ref}}'>
				<input type='hidden' name='search' value='1'>
				<input type='text' name='to_search'>
				<input type='submit' value='Search'>
			</form>
			
			<hr>
			<table class='item'><tr>
				{{for data.categories}}
					{{if (index & 1) == 0 && index != 0}}
						</tr><tr>
					{{/if}}
					<td>{{:helper.link(value, 'arrow-right', {'category': value})}}</td>
				{{/for}}
			</tr></table>
		{{else data.submenu == 1}}
			<table>
				{{for data.matching_designs}}
					<tr>
						<td>{{:helper.link(value.name, 'print', data.menu == 4 ? {'build': value.id, 'amount': 1} : {'imprint': value.id}, value.can_build ? null : 'disabled')}}</td>
						<td>{{if value.can_build >= 5}}
							{{:helper.link('x5', null, data.menu == 4 ? {'build': value.id, 'amount': 5} : {'imprint': value.id})}}
						{{/if}}</td>
						<td>{{if value.can_build >= 10}}
							{{:helper.link('x10', null, data.menu == 4 ? {'build': value.id, 'amount': 10} : {'imprint': value.id})}}
						{{/if}}</td>
						<td>
							{{for value.materials : material : i}}
								 | 
								{{if material.is_red}}
									<span class='bad'>
								{{/if}}
								{{:material.amount}} {{:material.name}}
								{{if material.is_red}}
									</span>
								{{/if}}
							{{/for}}
						</td>
					</tr>
				{{/for}}
			</table>
		{{else data.submenu == 2}}
			{{for data.loaded_materials}}
				<div class='item'>
					<div class='itemLabel'>* {{:value.amount}} of {{:value.name}}</div> <div class='itemLabelNarrow'>({{:Math.round((value.amount / 2000) * 10) / 10}} sheets)</div>
					{{if value.amount >= 2000}}
						{{if data.menu == 4}}
							{{:helper.link('1x', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 1})}}
							{{:helper.link('C', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 'custom'})}}
							{{if value.amount >= 2000*5}}
								{{:helper.link('5x', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 5})}}
							{{/if}}
							{{:helper.link('All', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 50})}}
						{{else}}
							{{:helper.link('1x', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 1})}}
							{{:helper.link('C', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 'custom'})}}
							{{if value.amount >= 2000*5}}
								{{:helper.link('5x', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 5})}}
							{{/if}}
							{{:helper.link('All', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 50})}}
						{{/if}}
					{{/if}}
				</div>
			{{/for}}
		{{else data.submenu == 3}}
			<div class='item'>
				
				{{:helper.link('Purge All', 'trash', data.menu == 4 ? {'disposeallP': 1} : {'disposeallI' : 1})}}
			</div>
			{{for data.loaded_chemicals}}
				<div class='item'>
					<div class='itemLabel'>* {{:value.volume}} of {{:value.name}}</div>
					{{:helper.link('Purge', 'trash', data.menu == 4 ? {'disposeP': value.id} : {'disposeI': value.id})}}
				</div>
			{{/for}}
		{{/if}}
	{{else data.menu == 6}}
		{{if data.submenu == 0}}
			<h3>Settings:</h3>
			<div class='line'>{{:helper.link('Sync Database with Network', 'refresh', {'sync': 1}, data.sync ? null : 'disabled')}}</div>
			<div class='line'>{{:helper.link('Connect to Research Network', 'plug', {'togglesync': 1}, data.sync ? 'selected' : null)}}</div>
			<div class='line'>{{:helper.link('Disconnect from Research Network', 'chain-broken', {'togglesync': 1}, data.sync ? null : 'selected')}}</div>
			<div class='line'>{{:helper.link('Device Linkage Menu', 'chain', {'menu': 6, 'submenu': 1})}}</div>
			{{if data.admin}}
				<div class='line'>{{:helper.link('[ADMIN] Maximize Research Levels', 'exclamation', {'maxresearch': 1})}}</div>
			{{/if}}
			<div class='line'>{{:helper.link('Reset Database', 'trash-o', {'reset': 1})}}</div>
		{{else data.submenu == 1}}
			<h3>Device Linkage Menu:</h3>
			<div class='item'>{{:helper.link('Re-sync with Nearby Devices', 'chain', {'find_device': 1})}}</div>
			<h3>Linked Devices:</h3>
			<div class='item'>
				{{if data.linked_destroy}}
					<div class='itemLabel'>* Destructive Analyzer</div>
					{{:helper.link('Unlink', 'chain-broken', {'disconnect': 'destroy'})}}
				{{else}}
					<div class='itemLabel'>* No Destructive Analyzer Linked</div>
				{{/if}}
			</div>
			<div class='item'>
				{{if data.linked_lathe}}
					<div class='itemLabel'>* Protolathe</div>
					{{:helper.link('Unlink', 'chain-broken', {'disconnect': 'lathe'})}}
				{{else}}
					<div class='itemLabel'>* No Protolathe Linked</div>
				{{/if}}
			</div>
			<div class='item'>
				{{if data.linked_imprinter}}
					<div class='itemLabel'>* Circuit Imprinter</div>
					{{:helper.link('Unlink', 'chain-broken', {'disconnect': 'imprinter'})}}
				{{else}}
					<div class='itemLabel'>* No Circuit Imprinter Linked</div>
				{{/if}}
			</div>
		{{/if}}
	{{/if}}
</div>

{{if data.wait_message}}
	<div class="mask">
		<div class="maskContent">
			<h1>{{:data.wait_message}}</h1>
		</div>
	</div>
{{/if}}
