<!-- 
Title: Electropack UI
Used In File(s): /code/game/objects/item/devices/radio/electropack.dm
-->
<div class="item">
	<div class="itemLabel">
		Power
	</div>
	<div class="itemContent">
		{{:helper.link('On', null, {'power' : 1}, data.power ? 'selected' : null)}}
		{{:helper.link('Off', null, {'power' : 1}, data.power ? null : 'selected')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Frequency: {{:data.freq}}
	</div>
	<div class="itemContent">
		{{:helper.link('--', null, {'freq' : -10})}}
		{{:helper.link('-', null, {'freq' : -2})}}
		{{:helper.link('+', null, {'freq' : 2})}}
		{{:helper.link('++', null, {'freq' : 10})}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Code: {{:data.code}}
	</div>
	<div class="itemContent">
		{{:helper.link('--', null, {'code' : -5})}}
		{{:helper.link('-', null, {'code' : -1})}}
		{{:helper.link('+', null, {'code' : 1})}}
		{{:helper.link('++', null, {'code' : 5})}}
	</div>
</div>