{{if data.robots}}
	{{if !data.is_ai}}
		<div class='notice'>
			<div class="itemContentSmall" style="width: 180px">
				Emergency Self-Destruct:
			</div>
			<div class="itemContentFull">
				{{if data.safety}}
					{{:helper.link('ARM', 'unlock', {'arm' : 1}, !data.allowed ? 'disabled' : null)}}
					{{:helper.link('DETONATE', 'exclamation-circle', {'nuke' : 1}, 'disabled')}}
				{{else}}
					{{:helper.link('DISARM', 'lock', {'arm' : 1}, !data.allowed ? 'disabled' : null)}}
					{{:helper.link('DETONATE', 'exclamation-circle', {'nuke' : 1}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{/if}}
			</div>
			<div class="clearBoth"></div>
		</div>
	{{/if}}
	{{for data.robots}}
		<hr>
		<div class='item'>
			<h2>{{:value.name}}</h2>
			<h3>Information</h3>
			<span class="itemLabel">
				Status:
			</span>
			<span class="itemContent">
				{{:value.status}}
			</span>
			<span class="itemLabel">
				System Integrity:
			</span>
			<span class="itemContent">
				{{:helper.smoothRound(value.health)}}%
			</span>
			<span class="itemLabel">
				Location:
			</span>
			<span class="itemContent">
				({{:value.xpos}}, {{:value.ypos}}, {{:value.zpos}}): {{:value.area}}
			</span>
			<span class="itemLabel">
				Master AI:
			</span>
			<span class="itemContent">
				{{:value.master_ai}}
			</span>
			<span class="itemLabel">
				Module:
			</span>
			<span class="itemContent">
				{{:value.module}}
			</span>

			{{if value.hackable}}
				<span class="itemLabel">
					Safeties:
				</span>
				<span class="itemContent">
					ENABLED
				</span>
			{{else value.hacked}}
				<span class="itemLabel">
					Safeties:
				</span>
				<span class="itemContent">
					DISABLED
				</span>
			{{/if}}
			<h3>Power Cell</h3>
			{{if value.cell}}
				<span class="itemLabel">
					Rating:
				</span>
				<span class="itemContent">
					{{:value.cell_capacity}}
				</span>
				{{:helper.displayBar(value.cell_percentage, 0, 100, (value.cell_percentage >= 50) ? 'good' : (value.cell_percentage >= 25) ? 'average' : 'bad')}}
				<b> {{:helper.smoothRound(value.cell_percentage)}}%</b>
			{{else}}
				<b><i>Not Installed</i></b>
				{{:helper.displayBar(100, 0, 100, 'bad')}}
			{{/if}}
			<h3>Actions</h3>
				{{if value.status == "Operational"}}
					{{:helper.link('Lockdown', 'lock', {'lockdown' : value.name}, !data.allowed ? 'disabled' : null)}}
				{{else}}
					{{:helper.link('Unlock', 'unlock', {'lockdown' : value.name}, !data.allowed ? 'disabled' : null)}}
				{{/if}}
					{{:helper.link('Self-Destruct', 'exclamation-circle', {'detonate' : value.name}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{if value.hackable}}
					{{:helper.link('Hack', 'calculator', {'hack' : value.name}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{/if}}
		</div>
	{{/for}}
{{else}}
	<div class='item'>
		<h3>No robots were found.</h3>
	</div>
{{/if}}