<!-- 
Used In File(s): /code/game/objects/items/weapons/rpd.dm
-->
<h3>Mode:</h3> <!-- We loop through the mode list and display all entries -->
<div class = "item">
	{{for data.mainmenu}} <!--We loop through the pipe menu list (normal, scrubbers, etc.) and display all entries-->
		{{:helper.link(String(value.category), String(value.icon), {"mode": Number(value.mode)}, data.mode == Number(value.mode) ? "linkOn" : null)}}
	{{/for}}
</div>
{{if data.mode == 1}}
	<h3>Pipe type:</strong></h3>
	<div>
		{{for data.pipemenu}} <!--We loop through the pipe menu (normal, scrubbers, etc.) and display all entries-->
			{{:helper.link(String(value.pipecategory), null, {"pipetype": Number(value.pipemode)}, data.pipetype == Number(value.pipemode) ? "linkOn" : null)}}
		{{/for}}
	</div>
	<h4>Available pipes:</h4>
	<div style = "float:left;margin-right:30pt;">
		{{for data.pipelist}} <!--Display all pipes that match the selected menu-->
			{{if value.category == data.pipetype}}
				<div class = "item">{{:helper.link(String(value.pipename), "arrow-right", {"whatpipe": Number(value.id)}, data.whatpipe == Number(value.id) ? "linkOn" : null)}}</div>
			{{/if}}
		{{/for}}
	</div>
	{{for data.pipelist}} <!-- For the selected pipe, we want to show a preview to allow the user to select a rotation-->
		<div style = "float:left;">
			{{if value.id == data.whatpipe && value.orientations != 1}} <!--If the pipe in the pipelist matches our currently selected pipe and actually has more than one orientation, we want a preview-->
				<div style = "margin-bottom:30pt;">
					{{:helper.link("Orient automatically", null, {"iconrotation": 0}, data.iconrotation == 0 ? "linkOn" : null)}}
				</div>
			{{/if}}
			{{if value.id == data.whatpipe && value.orientations != 1 && value.bendy != 1}} <!--If the pipe in the pipelist matches our currently selected pipe and is not bendy-->
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 1}, data.iconrotation == 1 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-north.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 4}, data.iconrotation == 4 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-east.png">
				</div>
			{{/if}}
			{{if value.id == data.whatpipe && value.orientations == 4 && value.bendy != 1}}
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 2}, data.iconrotation == 2 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-south.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 8}, data.iconrotation == 8 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-west.png">
				</div>
			{{/if}}
			{{if value.id == data.whatpipe && value.bendy == 1}}
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 1}, data.iconrotation == 1 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-northeast.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 4}, data.iconrotation == 4 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-southeast.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 2}, data.iconrotation == 2 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-southwest.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 8}, data.iconrotation == 8 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-northwest.png">
				</div>
			{{/if}}
		</div>
	{{/for}}
{{else data.mode == 2}}
	<h4>Available pipes:</h4>
	<div style = "float:left;margin-right:30pt;">
	{{for data.dpipelist}}
			<div class = "item">{{:helper.link(String(value.pipename), "arrow-right", {"whatdpipe": Number(value.id)}, data.whatdpipe == Number(value.id) ? "linkOn" : null)}}</div>
	{{/for}}
	</div>
	{{for data.dpipelist}}
		<div style = "float:left;">
			{{if value.id == data.whatdpipe && value.orientations != 1}}
				<div style = "margin-bottom:30pt;">
					{{:helper.link("Orient automatically", null, {"iconrotation": 0}, data.iconrotation == 0 ? "linkOn" : null)}}
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 1}, data.iconrotation == 1 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-north.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 4}, data.iconrotation == 4 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-east.png">
				</div>
			{{/if}}
			{{if value.id == data.whatdpipe && value.orientations == 4}}
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 2}, data.iconrotation == 2 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-south.png">
				</div>
				<div>
					{{:helper.link("", "arrow-right", {"iconrotation": 8}, data.iconrotation == 8 ? "linkOn" : null)}}
					<img src = "{{:value.icon}}-west.png">
				</div>
			{{/if}}
		</div>
	{{/for}}
{{else data.mode == 3}}
	<h3>Device ready to rotate loose pipes...</h3>
{{else data.mode == 4}}
	<h3>Device ready to flip loose pipes...</h3>
{{else data.mode == 5}}
	<h3>Device ready to eat loose pipes...</h3>
{{/if}}
