<head>
	<style type="text/css">
		.mainBG {
			background: #3E4E69;
		}
		#uiTitleFluff {
			display: none;
		}
	</style>
</head>
{{if data.open}}
	<div>
		<div style='text-align: center;'>
			<div style='display: inline-block;'>{{:helper.link('Close', 'caret-square-o-up', {'open': 1})}} </div>
		</div>
	</div>
	<div class='statusDisplay'>	
		{{for data.contents}}
			<div class='line'>
				{{:helper.link(value.name, 'arrow-left', {'retrieve': value.index})}} <img src='{{:value.sprite}}.png' style='position: relative; top: -6px'>
			</div>
		{{/for}}
	</div>
{{else}}
	<div>
		<div style='text-align: center;'>
			<div style='display: inline-block;'>{{:helper.link('Open', 'caret-square-o-down', {'open': 1})}} </div>
		</div>
	</div>
	<div>
		<div style='text-align: center; margin: 0px 0px 0px 28px'>
			<div style='display: inline-block;'>{{:helper.link('Left 50', 'arrow-left', {'turnleft': 50})}} </div>
			<div style='display: inline-block;'>{{:helper.link('Left 10', 'arrow-left', {'turnleft': 10})}} </div>
			<div style='display: inline-block;'>{{:helper.link('Left 1', 'arrow-left', {'turnleft': 1})}} </div>
			<div style='display: inline-block;'><div class="link yellowButton"> {{:data.dial}} </div></div>
			{{if data.locked}}
				<div style='display: inline-block;'>{{:helper.link('Right 1', 'arrow-right', {'turnright': 1})}} </div>
				<div style='display: inline-block;'>{{:helper.link('Right 10', 'arrow-right', {'turnright': 10})}} </div>
				<div style='display: inline-block;'>{{:helper.link('Right 50', 'arrow-right', {'turnright': 50})}} </div>
			{{else}}
				<div style='display: inline-block;'>{{:helper.link('Right 1', 'arrow-right', null, 'disabled')}} </div>
				<div style='display: inline-block;'>{{:helper.link('Right 10', 'arrow-right', null, 'disabled')}} </div>
				<div style='display: inline-block;'>{{:helper.link('Right 100', 'arrow-right', null, 'disabled')}} </div>
			{{/if}}
		</div>
	</div>
	<div style='text-align: center;'>
		<span class="fa fa-long-arrow-down fa-2x"></span>
	</div>
	<div style='text-align: center; height: 425px;'>
		<div style='display: inline-block;'> <img src="safe_dial.png" style='transform: rotate({{:data.rotation}}); z-index: -1;'></div>
	</div>
	<div style='text-align: center;'>
		<div style='font-weight: bold;'>How to open your Scarborough Arms tumbler safe.</div> 
		<div style='display: inline-block; text-align: left;'>
			<div>1. Turn the dial right to the first number.</div>
			<div>2. Turn the dial left to the second number.</div>
			<div>3. Continue repeating this process for each number, switching between right and left each time.</div>
			<div>4. Open the safe.</div>
		</div>	
		<div style='font-weight: bold;'>To lock fully, turn the dial to the left after closing the safe.</div>
	</div>
{{/if}}
