<!--
Title: Security Camera Console (Main content)
Used In File(s): \code\game\machinery\computer\camera.dm
 -->
{{:helper.link('Show Map', 'thumb-tack', {'showMap' : 1})}}
{{:helper.link('Reset', 'refresh', {'reset' : 1})}}
<div class='item'>
    <div class='itemLabel'>Current Camera: </div>
    {{if data.current}}
        <div class='itemContent'><b>{{:data.current.name}}</b></div>
    {{else}}
        <div class='itemContent'>None</div>
    {{/if}}
</div>

{{if data.networks}}
<div class="item">
    <h2>Networks</h2>
    Please select the networks you'd like this console to monitor.
    {{if data.emagged}}
        <div class="bad">WARNING: Unauthorized access detected.</div>
    {{/if}}
    <div class="item">
        {{for data.networks}}
            {{:helper.link(value.name, value.active ? 'minus' : 'plus', { 'activate' : value.name, 'active' : value.active }, '', value.active ? 'linkOn' : '')}}
        {{/for}}
    </div>
</div>
{{/if}}
<div class="item">
    <h2>Cameras</h2>
    {{for data.cameras}}
        {{if data.current && value.name == data.current.name}}
            {{:helper.link(value.name, '', {'switchTo' : value.camera}, 'selected')}}
        {{else value.deact}}
            {{:helper.link(value.name + " (deactivated)", '', {}, 'inactive')}}
        {{else}}
            {{:helper.link(value.name, '', {'switchTo' : value.camera})}}
        {{/if}}
    {{/for}}
</div>

