<!--
Title: Shuttle Manipulator UI
-->

<h3>Operations</h3>
<div class="item">
	{{:helper.link('Status', 'link', {'selectMenuKey' : 'stat'}, data.selectedMenuKey == 'stat' ? 'selected' : null)}}
	{{:helper.link('Templates', 'link', {'selectMenuKey' : 'stemp'}, data.selectedMenuKey == 'stemp' ? 'selected' : null)}}
	{{:helper.link('Modification', 'link', {'selectMenuKey' : 'mod'}, data.selectedMenuKey == 'mod' ? 'selected' : null)}}
</div>

<div class="item">&nbsp;</div>

<!-- Shuttle Status Tab -->
{{if !data.selectedMenuKey || data.selectedMenuKey == 'stat'}}
	{{for data.shuttles}}
		<div class='statusDisplay'>
			<div class='itemLabel'>
			Name: {{:value.name}}
			</div>
			<div class='itemContentWide'>
			ID: {{:value.id}}
			</div>
			<div class='itemContentWide'>
			Shuttle Timer: {{:value.timeleft}}
			</div>
			<div class='itemContentWide'>
			Shuttle Mode: {{:value.mode}}
			</div>
			<div class='itemContentWide'>
			Shuttle Status: {{:value.status}}
			</div>
			<div class='itemContentWide'>
			{{:helper.link('Jump to', 'space-shuttle', {'jump_to' : 1, 'type' : 'mobile', 'id' : data.selected.shuttle_id}, null)}}
			{{:helper.link('Fast Travel', 'rocket', {'fast_travel' : 1}, null)}}
			</div>
		</div>
	{{/for}}
<!-- Shuttle template tab -->
{{else data.selectedMenuKey == 'stemp'}}
	<div class="itemLabelNarrow">
		
		{{for data.templates}} 
			Name: {{:value.name}}
			{{if data.description}}
				Description: {{:value.description}}
			{{/if}}
			{{if data.admin_notes}}
				Admin Notes: {{:value.admin_notes}}
			{{/if}}

			{{:helper.link('select template', 'space-shuttle', {'select_template' : 1, 'shuttle_id' : data.shuttle_id}, null)}}
		{{/for}}
	</div>
<!-- Shuttle Modification tab -->
{{else data.selectedMenuKey == 'mod'}}
	<div class="itemLabelNarrow">

		{{if data.selected.description}}
			Description: {{:data.selected.description}}
		{{/if}}
		{{if data.selected.admin_notes}}
			Admin Notes: {{:data.selected.admin_notes}}
		{{/if}}
		
		
	
		{{:helper.link('Jump to', 'space-shuttle', {'jump_to' : 1, 'type' : 'mobile', 'id' : data.selected.shuttle_id}, null)}}
		

		{{if data.existing_shuttle}}
			Existing Shuttle: {{:data.existing_shuttle.name}}
			Status: {{:data.existing_shuttle.status}}
			{{if data.existing_shuttle.timer}}
				({{:data.existing_shuttle.timeleft}})
			{{/if}}
		{{/if}}
		
		{{:helper.link('Preview', 'exclamation-circle', {'preview' : 1, 'shuttle_id' : data.selected.shuttle_id}, null)}}
		{{:helper.link('Load', 'exclamation-circle', {'load' : 1, 'shuttle_id' : data.selected.shuttle_id}, null)}}

	</div>
{{/if}}
