<div class='statusDisplay'>
	{{for data.spawners}}
		<div class='item'>
			<div class='itemLabel'>
				{{:value.name}}
			</div>
			<div class='itemContent'>
				{{:value.desc}}
			</div>
			<div class='floatRight'>
				{{:helper.link('Jump', '', {'jump': value.name})}}
				{{:helper.link('Spawn', '', {'spawn': value.name})}}
			</div>
		</div>
	{{/for}}
</div>
