<div class='statusDisplay'>
	<table style='width:100%;'>
		{{for data.spawners}}
			<div class='item'>
				<div class='itemLabel'>
					{{:value.name}}
				</div>
				<div class='itemContent'>
					{{:value.desc}}
				</div>
				<div class='floatRight'>
					{{:helper.link('Jump', null, {'action': 'jump', 'uid': value.uids})}}
					{{:helper.link('Spawn', null, {'action': 'spawn', 'uid': value.uids})}}
				</div>
			</div>
		{{/for}}
	</table>
</div>
