{{:helper.link('Device Configuration', 'wrench', {'tab' : "CONFIG"}, data.tab == "CONFIG" ? 'selected' : '')}}
{{:helper.link('Device Links', 'link', {'tab' : "LINKS"}, data.tab == "LINKS" ? 'selected' : '')}}
{{:helper.link('User Filtering', 'user-times', {'tab' : "FILTER"}, data.tab == "FILTER" ? 'selected' : '')}}

{{if data.ion}}
<div class='notice'>
ERROR: An Ionspheric overload has occured. Please wait for the machine to reboot. This cannot be manually done.
</div>
{{/if}}

{{if data.tab == "CONFIG"}}
	<h1>Core Configuration</h1>
	<h3>Status</h3>
	<div class="item">
		<div class="itemLabel">
			Machine Active:
		</div>
		<div class="itemContent">
			{{:helper.link(data.active ? 'Enabled' : 'Disabled', 'power-off', {'toggle_active' : 1}, null, data.active ? 'selected' : '')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Sectors with Telecommunications Signal:
		</div>
		<div class="itemContent">
			{{:data.sectors_available}}
		</div>
	</div>
	<h3>Settings</h3>
	<div class="item">
		<div class="itemLabel">
			Job Announcements:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_jobs ? 'Enabled' : 'Disabled', 'clipboard', {'nttc_toggle_jobs' : 1}, null, data.nttc_toggle_jobs ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Job Departmentalisation:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_job_color ? 'Enabled' : 'Disabled', 'clipboard', {'nttc_toggle_job_color' : 1}, null, data.nttc_toggle_job_color ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Name Departmentalisation:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_name_color ? 'Enabled' : 'Disabled', 'users', {'nttc_toggle_name_color' : 1}, null, data.nttc_toggle_name_color ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Command Amplification:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_command_bold ? 'Enabled' : 'Disabled', 'volume-up', {'nttc_toggle_command_bold' : 1}, null, data.nttc_toggle_command_bold ? 'selected' : null)}}
		</div>
	</div>
	<h3>Advanced</h3>
	<div class="item">
		<div class="itemLabel">
			Job Announcement Format:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_job_indicator_type ? data.nttc_job_indicator_type : 'Unset', 'pencil', {'nttc_job_indicator_type' : 1}, null, data.nttc_job_indicator_type ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Language Conversion:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_setting_language ? data.nttc_setting_language : 'Unset', 'globe', {'nttc_setting_language' : 1}, null, data.nttc_setting_language ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Network ID:
		</div>
		<div class="itemContent">
			{{:helper.link(data.network_id ? data.network_id : 'Unset', 'server', {'network_id' : 1}, null, data.network_id ? 'selected' : null)}}
		</div>
	</div>
	<h3>Maintenance</h3>
	{{:helper.link('Import Configuration', 'sign-in', {'import' : 1})}}
	{{:helper.link('Export Configuration', 'sign-out', {'export' : 1})}}
{{else data.tab == "LINKS"}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h1>Connected Devices</h1>
	<div class="item">
		<div class="itemLabel">
			Link Password:
		</div>
		<div class="itemContent">
			{{:helper.link(data.link_password ? data.link_password : 'Unset', 'lock', {'change_password' : 1}, null, data.link_password ? 'selected' : null)}}
		</div>
	</div>
	<br>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
	    <colgroup>
       		<col span="1" style="width: 35%;">
       		<col span="1" style="width: 35%;">
       		<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
    	</colgroup>
		<thead>
			<tr>
				<th>Network Address</th>
				<th>Network ID</th>
				<th>Sector</th>
				<th>Status</th>
				<th>Unlink</th>
			</tr>
		</thead>
		<tbody>
			{{for data.entries}}
			<tr>
				<td>{{:value.addr}}</td>
				<td>{{:value.net_id}}</td>
				<td>{{:value.sector}}</td>
				<td style={{:value.status_color}}>{{:value.status ? 'Active' : 'Offline'}}</td>
				<td>{{:helper.link('Unlink', 'unlink', {'unlink' : value.addr}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{else data.tab == "FILTER"}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h1>Filtering List</h1>
	<div class="item">
		<div class="itemLabel">
			{{:helper.link('Add User', 'plus', {'add_filter': 1})}}
		</div>
	</div>
	<br>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
	    <colgroup>
       		<col span="1" style="width: 90%;">
       		<col span="1" style="width: 10%;">
    	</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{{for data.filtered_users}}
			<tr>
				<td>{{:value}}</td>
				<td>{{:helper.link('Remove', 'times', {'remove_filter' : value}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
