<h1>Relay Configuration</h1>
<div class="item">
	<div class="itemLabel">
		Device Active:
	</div>
	<div class="itemContent">
		{{:helper.link(data.active ? 'Enabled' : 'Disabled', 'power-off', {'toggle_active' : 1}, null, data.active ? 'selected' : '')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Network ID:
	</div>
	<div class="itemContent">
		{{:helper.link(data.network_id ? data.network_id : 'Unset', 'pencil', {'network_id' : 1}, null, data.network_id ? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Link Status:
	</div>
	<div class="itemContent">
		{{if data.linked}}
			<span class="good">Linked</span>
		{{else}}
			<span class="bad">Unlinked</span>
		{{/if}}
	</div>
</div>

{{if data.linked}}
	<div class="item">
		<div class="itemLabel">
			Linked Core ID:
		</div>
		<div class="itemContent">
			{{:data.linked_core_id}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Linked Core Address:
		</div>
		<div class="itemContent">
			{{:data.linked_core_addr}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Hidden Link:
		</div>
		<div class="itemContent">
			{{:helper.link(data.hidden_link ? 'Yes' : 'No', data.hidden_link ? 'eye-slash' : 'eye', {'toggle_hidden_link' : 1}, null, data.hidden_link ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Unlink:
		</div>
		<div class="itemContent">
			{{:helper.link('Unlink', 'unlink', {'unlink' : 1}, null, 'redButton')}}
		</div>
	</div>
{{else}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h3>Please select a Core to link to</h3>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
		<colgroup>
			<col span="1" style="width: 40%;">
			<col span="1" style="width: 40%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
		</colgroup>
		<thead>
			<tr>
				<th>Network Address</th>
				<th>Network ID</th>
				<th>Sector</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			{{for data.entries}}
			<tr>
				<td>{{:value.addr}}</td>
				<td>{{:value.net_id}}</td>
				<td>{{:value.sector}}</td>
				<td>{{:helper.link('Link', 'link', {'link' : value.addr}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
