<!-- 
Title: Teleporter Console UI
Used In File(s): \code\game\machinery\teleporter.dm
-->
<h1>Teleporter Status</h1>
{{if !data.powerstation}}
	<div class="bad">No power station linked.</div>
{{else !data.teleporterhub}}
	<div class="bad">No hub linked.</div>
{{else}}
	<div class="block">
		<div class="item">
			<div class="itemLabel">Current Regime</div>
			<div class="itemContent">{{:data.regime}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">Current Target</div>
			<div class="itemContent">{{:data.target}}{{if data.target != "None"}}{{if data.regime == "Gate"}} Teleporter{{/if}}{{/if}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">Calibration</div>
			<div class="itemContent">{{if data.calibrating}}<span class="average">In Progress</span>{{else data.calibrated}}<span class="good">Optimal</span>{{else data.accurate > 2}}<span class="good">Optimal</span>{{else}}<span class="bad">Sub-Optimal</span>{{/if}}</div>
		</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Change regime', 'gear', {'regimeset': 1})}}</div>
		<div class="item">{{:helper.link('Set target', 'gear', {'settarget': 1})}}</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Get target from memory', 'arrow-circle-down', {'lock': 1}, data.locked ? '' : 'disabled')}}</div>
		<div class="item">{{:helper.link('Eject GPS device', 'eject', {'eject': 1}, data.locked ? '' : 'disabled')}}</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Calibrate hub', 'arrows-alt', {'calibrate': 1}, data.target == 'None' ? 'disabled' : '')}}</div>
	</div>
{{/if}}