<div class="item">
	Behaviour controls are {{:data.locked ? "locked" : "unlocked"}}.
</div>
<br>
{{if data.access}}
	{{if !data.screen}}
		<div class="item">
			<div class="itemLabelWide">
				Turret Status:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('Enabled', null, {'command' : 'enable', 'value' : 1}, data.enabled ?'redButton' : null)}}
				{{:helper.link('Disabled',null, {'command' : 'enable', 'value' : 0}, !data.enabled ? 'selected' : null)}}
			</div>
		</div>	
		{{if data.accesses}}
			<div class="item">
				<div class="itemLabelWide">
					Required Access:
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('Modify', null, {'command' : 'screen', 'value' : 1})}}
				</div>
			</div>	
		{{/if}}
		{{if data.lethal_control}}
			<div class="item">
				<div class="itemLabelWide">
					Lethal Mode:
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('On', null, {'command' : 'lethal', 'value' : 1}, data.lethal ?'redButton' : null)}}
					{{:helper.link('Off',null, {'command' : 'lethal', 'value' : 0}, !data.lethal ? 'selected' : null)}}
				</div>
			</div>	
		{{/if}}
		
		{{for data.settings}}
			<div class="item">
				<div class="itemLabelWide">
					{{:value.category}}
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('On', null, {'command' : value.setting, 'value' : 1}, value.value ? 'selected' : null)}}
					{{:helper.link('Off',null, {'command' : value.setting, 'value' : 0}, !value.value ? 'selected' : null)}}
				</div>
			</div>
		{{/for}}
	{{else}}
		<div class="item">
			<div class="itemLabelWide">
				Turret Settings:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('Modify', null, {'command' : 'screen', 'value' : 0})}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabelWide">
				Access Type:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('All', null, {'one_access' : 0}, !data.one_access ? 'selected' : null)}}
				{{:helper.link('One', null, {'one_access' : 1}, data.one_access ? 'selected' : null)}}
			</div>
		</div>	
		<h3>Select Access</h3>
		{{for data.accesses}}
			{{:helper.link(value.name, null, {'access' : value.number}, null, value.active ? 'selected' : null)}}
		{{/for}}
	{{/if}}
{{/if}}
