<!-- 
Title: Virus 2 Creator
Used In File(s): /code/modules/nano/modules/virus2_creator.dm
-->
<div class="item">
	<div class="itemLabel">
		Spread to:
	</div>
	<div class="itemContent">
		{{:helper.link(data.virus_target ? data.virus_target : "Random", null, {"setTarget" : 1})}}
	</div>
</div>

{{:helper.link("Spread", null, {"spreadToTarget" : 1}, null, "notice")}}

<h2>Virus Creation</h2>
<div class="item">
	<div class="itemLabel">
		Virus:
	</div>
	<div class="itemContentWider">
		{{:helper.link(data.curr_virus ? data.curr_virus : "Create", null, {"createVirus" : 1})}}
		{{:helper.link("Delete", null, {"deleteCurrVirus" : 1})}}
	</div>
</div>



{{if data.curr_virus}}
	<br>
	<h3>Stats</h3>
	<div class="item">
		<div class="itemLabel">
			Antigen:
		</div>
		<div class="itemContentWider">
			{{:data.virusStats.antigen}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Spread:
		</div>
		<div class="itemContentWider">
			{{:data.virusStats.spreadType}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Speed:
		</div>
		<div class="itemContentWider">
			{{:data.virusStats.speed}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Affected Species:
		</div>
		<div class="itemContentWider">
			{{:data.virusStats.affectedSpecies}}
		</div>
	</div>	
	<br>
	<h3>Effects</h3>
	{{for data.virus_effects}}
		<div class="item">
			<div class="itemLabel">
				{{:helper.link(value.name, null, {"changeEffect" : value.stage})}}
			</div>
			<div class="itemContentWider">
				{{:helper.link("Stage: " + value.stage, null, null, null, "linkOff")}} 
				{{:helper.link("Chance: " + value.chance, null, {"changeStat" : "C", "cSEffect" : value.stage})}} 
				{{:helper.link("Multiplier: " + value.multiplier, null, {"changeStat" : "M", "cSEffect" : value.stage})}} 
				{{:helper.link("Badness: " + value.badness, null, null, null, "linkOff")}} 
			</div>
		</div>
	{{/for}}
{{/if}}