<div class="statusDisplay">
	<table style='width:100%;'>
		{{for data.wires}}
			<tr>
			<td style='color: {{:value.seen_colour}};'>{{:value.colour_name}} {{if value.index}}({{:value.index}}){{/if}}</td>
			<td class='floatRight'>
			{{:helper.link(value.cut ? 'Mend' : 'Cut', null, {'action' : 'cut', 'wire' : value.colour})}}
			{{:helper.link('Pulse', null, {'action' : 'pulse', 'wire' : value.colour})}}
			{{:helper.link(value.attached ? 'Detach' : 'Attach', null, {'action' : 'attach', 'wire' : value.colour})}}
			</td>
			</tr>
		{{/for}}
	</table>
</div>
{{if data.status_len}}
	<hr>
	<div class="statusDisplay">
		<div class="item">
		{{for data.status}}
			<div class='line'>{{:value}}</div>
		{{/for}}
		</div>
	</div>
{{/if}}
