$color-background: rgba(0, 0, 0, 0.33) !default;

.NanoMap__container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.NanoMap__marker {
  z-index: 10;
  padding: 0px;
  margin: 0px;
}
