.theme-changeling:root {
  --changeling-hue: 275;

  // Base
  --color-base: hsl(var(--changeling-hue), 15%, 17%);
  --color-primary: hsl(var(--changeling-hue), 27.5%, 37.5%);
  --color-secondary: hsl(340, 65%, 37.5%);
  --color-border-primary: hsla(227.5, 30%, 40%, 0.75);
  --base-gradient-spread: 6;

  // Components
  --button-background-selected: hsl(150, 70%, 30%);
  --tab-background-selected: hsl(var(--changeling-hue), 15%, 25%);
  --titlebar-background: hsl(from var(--color-base) h s calc(l + 5));
  --tooltip-background-lightness: 25;

  .Layout__content {
    background-image: none;
  }
}
