@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #563d6b,
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: #2e2633,
  $color-bg-grad-spread: 6%,
  $border-radius: 2px
);

.theme-changeling {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: ('color-default': colors.$primary, 'color-selected': #188552)
  );
  @include meta.load-css(
    '../components/ImageButton.scss',
    $with: (
      'color-default': darken(colors.$primary, 20%),
      'color-selected': #188552
    )
  );
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css(
    '../components/Tabs.scss',
    $with: ('tab-color-selected': colors.$primary)
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': #352d3b)
  );

  .Layout__content {
    background-image: none;
  }
}
