.theme-securestorage:root {
  // Base
  --color-base: var(--color-beige);
  --color-secondary: var(--color-base);
  --color-section: transparent;
  --color-primary: hsl(120, 35%, 35%);
  --color-caution: hsl(from var(--color-yellow) h s calc(l - var(--adjust-color)));
  --color-danger: hsl(from var(--color-red) h s calc(l - var(--adjust-color)));
  --color-text: var(--color-black);
  --base-gradient-spread: 0;

  // Components
  --button-background-default: var(--color-base);
  --button-color: hsla(0, 0%, 0%, 0.5);
  --titlebar-shadow-color: transparent;
  --titlebar-shadow-core: transparent;

  .Layout__content {
    background-image: none;
  }
}
