@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #a14c49,
  $blue: #d0212d,
  $label: #a7817e,
  $fg-map-keys: (
    'label',
  ),
  $bg-map-keys: (
    'good',
  )
);
@use '../base.scss';

.theme-security {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css('../components/Button.scss', $with: ('color-default': colors.$primary));
  @include meta.load-css('../components/ImageButton.scss', $with: ('color-default': darken(colors.$primary, 23%)));
  @include meta.load-css('../components/Input.scss', $with: ('border-color': #ff8d88));
  @include meta.load-css('../components/NoticeBox.scss');
  @include meta.load-css('../components/Section.scss');

  // Interfaces
  @include meta.load-css('../interfaces/Newscaster.scss');
}
